<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostCAP Project Platform</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.postcaponline.com/css/design/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		.middle{
			max-width: 600px;
            z-index: 100;
			padding-left: 15px !important;
			margin-top: 0px;
            margin-right: auto;
             margin-bottom: 0px;
            margin-left: 175px;
            padding-top: 40px;
			font-family: GothamLight !important;
			font-size: 14px;
            background-color: rgba(0, 0, 0, 0.7) !important;
            font-size: 13px !important;
            color: #1D1C14 !important;
		}
		.fontclass{
			font-family: GothamLight;
			font-size: 14px;
			color: white;
		}
		.head{
			text-align: center !important;
		}
	</style>
</head>
<body>

   <div  class="container middle text-center ">
		<h3 class="fontclass head ">Welcome to the PostCAP Project Platform!</h3>
		<img style="padding-top: 15px;
		padding-right: 10px;
		padding-bottom: 15px;
		padding-left: 0px;
		" src="https://www.postcaponline.com/css/design/img/logo.png" alt="image">
		<% if (userType == 'client_admin') { %>
		<div class="col-md-12 ">
			<p class="text-justify fontclass"> 
					Thank you for joining! We look forward to providing you with the highest quality transcriptions and captions of all your pre-recorded lectures, webinars, special events, classes, training materials, and more. The PostCAP Project Platform (Px3) makes it easy to submit your media, request service, and retrieve your transcriptions, caption files, and open caption videos when completed. 
			</p>
		</div>
		<% } %>

		<% if (userType == 'writer') { %>

		<div class="col-md-12">
				<p class="text-justify fontclass"> 
					We are very excited to work with you to create high quality transcripts and caption files for our valued clients. We’ve created an account for you to access the PostCAP Project Platform (Px3). This platform allows you to accept new assignments, access all necessary project files, and submit completed work. If you haven’t already, you will soon receive training materials for Px3. Should you have any questions regarding assignments, protocols, or the use of Px3 please contact Jill Rausch (jill@postcapllc.com) either through email or the Px3 internal messaging system.
				</p>
		</div>
		<% } %>

		<% if (userType == 'super_user'|| userType=='project_admin') { %>

			<div class="col-md-12">
					<p class="text-justify fontclass"> 
							You are a SUPER Admin and have complete reign over Px3! You have the ability to create and delete users, start new project/assignments, start and stop the Open Caption Server (what?!?). But remember, with great power comes great responsibility. Before you begin, you must first confirm your account and set your password. 
					</p>
			</div>
			<% } %>

		<div class="col-md-12">
			<p class="text-justify fontclass">To confirm your account and set your password please
				<a class="btn btn-link fontclass" target="_blank" href="<%= link %>">CLICK HERE.</a>
			</p>
		</div>
		<div class="col-md-12">
			<p class="text-justify fontclass">You may also copy/paste the link below directly into your browser.  </p>
			<a class="fontclass" href="<%= link %>" target="_blank"><%= link %></a>
		</div>
		<br>
		<div class="col-md-12">
			<b class="fontclass">IMPORTANT NOTE:</b><p class="text-justify fontclass">This User ID (email address) and Password will be used to log into both the PostCAP Project Platform (Px3)
				<a class="fontclass" href="https://postcaponline.com/login">https://postcaponline.com/login</a>  and the PostCAP Editor <a class="fontclass" href="https://www.postcaponline.com/editor">https://www.postcaponline.com/editor</a> </p>
		</div>
		<div class="col-md-12">
			<p class="text-justify fontclass">We look forward to working with you! 
			</p>
		</div>
		<% if (userType == 'super_user'|| userType=='project_admin') { %>
		<div class="col-md-12 ">
			<p class="text-justify fontclass">
					If you have any question please contact Jill Rausch 
					<a  class="fontclass" >(jill@postcapllc.com)</a>
					 or Dan Sommer <a class="fontclass" href="mailto:daniel.john.sommer@gmail.com">(daniel.john.sommer@gmail.com)</a> either by email or the Px3 internal messaging system. 
			</p>
		</div>
		<% } %>
		<% if (userType == 'super_user'|| userType=='project_admin') { %>
			<div class="col-md-12">
				<p class="fontclass">
						Thanks! 
				</p>
				<p class="fontclass">
				    The PostCAP Team
				</p>
			</div>
			<% } %>
		<% if (userType == 'writer' || userType == 'client_admin'|| userType=='client_user') { %>
			<div class="col-md-12">
					<p class="fontclass"><b>-The PostCAP Team-</b></p>
				</div>
				<div class="coi-md-12">
					<p class="fontclass">Phil Hyssong</p>
					<p class="fontclass">T.J. DiGrazia</p>
					<p class="fontclass">Carmin Beardsley</p>
					<p class="fontclass">Jill Rausch</p>
				</div>
         <% } %>
	
	   <!-- </div> -->
   </div>
</body>
</html>



	