<div id="wrapper" ng-init="initGetTrashMail()">
    <div id="page-wrapper-new" class="gray-bg">
        <!--Top header Navigation area  -->
        <!--<div class="row border-bottom">
          
        </div>-->
        <!--Top header Navigation area ends  -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Mailbox</h2>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <!-- main content area -->
        <!--{{trashData}}-->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <a class="btn btn-block btn-primary compose-mail" ui-sref="dashboard.composeMail">Compose Mail</a>
                                <div class="space-25"></div>
                                <h5>Folders</h5>

                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li>
                                        <a ui-sref="dashboard.mail"> <i class="fa fa-inbox "></i> Inbox</a>
                                    </li>
                                    <li>
                                        <a ui-sref="dashboard.sentmail"> <i class="fa fa-envelope-o"></i> Send Mail</a>
                                    </li>
                                    <li>
                                        <a ui-sref="dashboard.importantmail"> <i class="fa fa-certificate"></i> Important</a>
                                    </li>
                                    <!--<li>
                                        <a href="#"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a>
                                    </li>-->
                                    <li>
                                        <a ui-sref="dashboard.trashMail"> <i class="fa fa-trash-o"></i> Trash</a>
                                    </li>
                                </ul>
                                <h5>Categories</h5>
                                <ul class="category-list" style="padding: 0">
                                    <li>
                                        <a href="#"> <i class="fa fa-circle text-navy"></i> Work </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-circle text-primary"></i> Social</a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a>
                                    </li>
                                </ul>

                                <h5 class="tag-title">Labels</h5>
                                <ul class="tag-list" style="padding: 0">
                                    <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                                    <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                                    <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                                    <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                                    <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                                    <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                                    <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                                    <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 animated fadeInRight">
                    <div class="mail-box-header">

                        <form method="get" action="index.html" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" name="search" placeholder="Search email" ng-model="searchTest">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">
                                Search
                            </button>
                                </div>
                            </div>
                        </form>
                        <h2>
                            Trash
                        </h2>
                        <div class="mail-tools tooltip-demo m-t-md">
                            <div class="btn-group pull-right">
                                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                            </div>
                            <button class="btn btn-white btn-sm" data-toggle="tooltip" ng-click="initGetTrashMail()" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
                            <!--<button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>-->
                            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                        </div>
                    </div>
                    <div class="mail-box">
                        <!--{{trashData}}-->
                        <table class="table table-hover table-mail">
                            <tbody>
                                <tr class="unread" ng-repeat="email in trashData | filter : searchTest">
                                    <td class="check-mail">
                                        <input type="checkbox" class="i-checks">
                                    </td>
                                    <td class="mail-ontact"><a ui-sref="dashboard.trashMailDetail({mailId : email._id})">{{email.from.firstname}} {{email.from.lastname}}</a></td>
                                    <td class="mail-subject"><a ui-sref="dashboard.trashMailDetail({mailId : email._id})">{{email.subject}}</a></td>
                                    <td class=""><i class="fa fa-paperclip"></i></td>
                                    <td class="text-right mail-date">{{email.createdAt | date}}</td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>