<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostCAP Project Platform</title>
    <script src="libs/jquery.min.js"></script>
    <script src="css/design/js/bootstrap.min.js"></script>

    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Hello</h1>
    <a href="' + config.server.url + 'confirmPassword?secret=' + token + '" + >' + 'confirm' + '</a>
</body>
</html> -->


<html>

	<head>
	</head>
	<body>
		<div style="margin:0 auto;max-width:600px;">
			<p>Hi,{config.server.url}</br>
		How are you It's testing mail
		</br></br>
		Thanks
		</div>
	</body>
</html>