<div>  
    <div ui-view="sidebar"></div>
    <div ui-view="top" class="gray-bg header-custom"></div>
    <div ui-view="" class="dynamic-view"></div>
    <div ui-view="footer" class="footer"></div>
</div>