<div class="wrapper wrapper-content animated fadeInRight" ng-init="getMyProjects()">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>All Projects</h5>
                    <div class="ibox-tools">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Project Name</th>
                                <th>Duration</th>
                                <th>Order placed</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--{{userProjectData}}-->
                            <tr class="gradeX" ng-repeat="project in userProjectData">
                                <td ng-click="showProjectById(project._id)">{{project._id}}</td>
                                <td ng-click="showProjectById(project._id)">{{project.name}}</td>
                                <td ng-click="showProjectById(project._id)">{{project.duration}}</td>
                                <td ng-click="showProjectById(project._id)">{{project.createdAt}}</td>
                                <td ng-click="showProjectById(project._id)">{{project.status}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

</div>