<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Client Users</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>	
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal6"><i class="fa fa-plus"></i> New</button>
						 <button type="button" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</button>
						  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalFilter"><i class="fa fa-sliders"></i> Filters</button>	
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
					<th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>User Type</th>
						<th>Email</th>
                        <th>Phone</th>
					</tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
					<th><div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i></label></i>
                            </div></th>
                        <td>Joe</td>
                        <td>Shakespeare</td>
                        <td>ABC Literature</td>
						<td>Individual</td>
						<td>jwriter@abcclient.com</td>
						<td>(555)-555-1020</td>
					
                    </tr>
                    <tr class="gradeC">
					<th><div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i></label></i>
                            </div></th>
                        <td>Joe</td>
                        <td>Square</td>
                        <td>ABC Math</td>
						<td>Individual</td>
						<td>jadmin@postcapllc.com</td>
						<td>(555)-555-1021</td>
					
                    </tr>
                    <tr class="gradeA">
					<th><div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i></label></i>
                            </div></th>
                       <td>Sue</td>
                        <td>Cord</td>
                        <td>ABC President</td>
						<td>Admin</td>
						<td>sue@abcclient.com</td>
						<td>(555)-555-1320</td>
					
                    </tr>
                    <tr class="gradeA">
					<th><div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i></label></i>
                            </div></th>
                         <td>Rob</td>
                        <td>Cooruser</td>
                        <td>ABC Physics</td>
						<td>Individual</td>
						<td>rob@abcclient.com</td>
						<td>(555)-555-1020</td>
					
                    </tr>
                   
                  
                    </tbody>
                    <tfoot>
                    <tr>
                        <th><div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i></label></i>
                            </div></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Dipartment</th>
                        <th>User Type</th>
						<th>Email</th>
                        <th>Phone</th>
						
                    </tr>
                    </tfoot>
                    </table>

                    </div>
                </div>
            </div>
            </div>
           
        </div>

    </div>
</div>
      <div class="modal inmodal fade" id="myModalClientUser" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">New User</h4>
                                        </div>
                                        <div class="modal-body">
                                          <!--- Form users  -->
 
 
 
    <div class="p-user-select-boxes" name="p-user-type-4" id="p-user-type-4" style="display:block;">
	<form class="form-horizontal">
                                <h3>User Type: Client User</h3>
								
								
							
					<div class="col-sm-12">
					<div class="row new-user-radio">
  <ul>
  <li>
    <input type="radio" id="f-option" name="selector">
    <label for="f-option">Admin</label>
    
    <div class="check"></div>
  </li>
  
  <li>
    <input type="radio" id="s-option" name="selector">
    <label for="s-option">Individual User</label>
    
    <div class="check"><div class="inside"></div></div>
  </li>

</ul>
</div><!--new-user-radio-->
</div>
								
								
								
								<div class="form-group"><label class="col-lg-2 control-label">First Name*</label>
                                    <div class="col-lg-10"><input id="" name="" type="text" class="form-control" ng-model="uc.createUserModel.firstname" placeholder="First Name" required></div>
                                </div>
								<div class="form-group"><label class="col-lg-2 control-label">Last Name</label>
                                    <div class="col-lg-10"><input type="text" class="form-control" ng-model="uc.createUserModel.lastname" placeholder="Last Name" required></div>
                                </div>
								<div class="form-group"><label class="col-lg-2 control-label">Title</label>
                                    <div class="col-lg-10"><input type="text" class="form-control" ng-model="uc.createUserModel.title" placeholder="Last Name"></div>
                                </div>
							    <div class="form-group"><label class="col-lg-2 control-label">Email*</label>
                                    <div class="col-lg-10"><input type="email" ng-model="uc.createUserModel.email" placeholder="Email" class="form-control" required> 
                                    </div>
                                </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Phone</label>
                                    <div class="col-lg-10"><input class="form-control" id="inputPhone" maxlength="10" name="phone" ng-model="uc.createUserModel.phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
                                </div>	
                                    <div class="form-group"><label class="col-lg-2 control-label">Skype</label>
                                    <div class="col-lg-10"><input type="text" class="form-control" ng-model="uc.createUserModel.skype" placeholder="Your Skype Id" required></div>
                                </div>	
                                <div class="form-group"><label class="col-lg-2 control-label">Short Bio</label>
                                    <div class="col-lg-10">  <textarea class="form-control" ng-model="uc.createUserModel.shortBio" placeholder="Write Short Bio"></textarea></div>
                                </div>	


                               
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" ng-click="uc.createUser(uc.createUserModel)">Create</button>
										<button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
	</div>
										  
										  
										  
										  
										  
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
<!--Modal Filter --->
  <div class="modal inmodal fade" id="myModalFilter" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Filters   <button type="submit" class="btn btn-w-m btn-info"><i class="fa fa-send"> </i> Apply Filters</button> <button type="submit" class="btn btn-w-m btn-danger"><i class="fa fa-times"> </i> Clear</button></h4>
                                        </div>
                                        <div class="modal-body">
										
									<form method="get" class="form-horizontal">
<div class="form-group"><label class="col-sm-12 control-label " style="text-align: left;">Status </label>

                                    <div class="col-sm-12">
										<div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Project Admin</label></i>
                            </div>
							<div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Writer</label></i>
                            </div>
								<div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Client Admin</label></i>
                            </div>
							<div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Client User</label></i>
                            </div>
                                    </div>
                                </div>

<div class="form-group"><label class="col-sm-3 control-label " style="text-align: left;padding-bottom:20px;"> Organization</label>							
<div class="col-sm-9 file-multi-sel">

                <div class="input-group">
                <select data-placeholder="Select one or more" class="chosen-select" multiple style="width:350px !important;" tabindex="4">
                <option value="ABC Client">ABC Client</option>
                <option value="DEF Client">DEF Client</option>
                <option value="IJK Client">IJK Client</option>
                </select>
                </div>
               						
</div>
</div>								
								
</form>								
										
										
										
									
							
						
							
							</div>
							
</div>
</div>
</div>							