<form class="pure-form">
    <fieldset>
        <legend style="color: #ffffff";>Confirm Password</legend>

        <input type="password" placeholder="Password" ng-model="uc.setPasswordData.password" required>
        <input type="password" placeholder="Confirm Password" ng-model="uc.setPasswordData.confirm_password" required>

        <button class="pure-button pure-button-primary" ng-click="uc.setPassword()">Confirm</button>
    </fieldset>
</form>