<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Project Users</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalProjectUser"><i class="fa fa-plus"></i> New</button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalProjectFilter"><i class="fa fa-sliders"></i> Filters</button>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>Organization</th>
                                <th>User Type</th>
                                <th>Title</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Skype</th>
                                <th>Short Bio</th>
                                <th>Etc.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in uc.users">
                                <td>{{user.name}}</td>
                                <td>{{user.organization.name}}</td>
                                <td>{{user.role.name}}</td>
                                <td>{{user.role.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.skype}}</td>
                                <td>{{user.shortBio}}.</td>
                                <td>{{user.organization}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<div class="modal inmodal fade" id="myModalProjectUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">New User</h4>
            </div>
            <div class="modal-body">
                <!--- Form users  -->

                <div class="p-user-select-boxes" name="p-user-type-1" id="p-user-type-1">
                    <form class="form-horizontal" action="api/user" method="post" enctype="multipart/form-data">
                        <!--<h3>User Type: Project Admin</h3>-->
                        <div class="form-group"><label class="col-lg-2 control-label">Role</label>
                            <div class="col-lg-10">
                                <select class="form-control m-b" name="usertype" ng-model="uc.usermodel.usertype">
                                            <option value="">----Select User Type----</option>
                                            <option ng-repeat="role in uc.selectedRoles" value="{{role._id}}">{{role.name}}</option>
                                        </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" name="firstname" class="form-control" placeholder="First Name" ng-model="uc.usermodel.firstname" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Last Name</label>
                            <div class="col-lg-10"><input type="text" name="lastname" class="form-control"="Last Name" ng-model="uc.usermodel.lastname"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Organization</label>
                            <div class="col-lg-10">
                                <select class="form-control m-b" name="organization" ng-model="uc.usermodel.organization">
                                    <option value="">----Select Organization----</option>
                                    <option ng-repeat="organization in uc.organizations" value="{{organization._id}}">{{organization.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Title/Position</label>
                            <div class="col-lg-10"><input type="text" name="position" class="form-control" placeholder="Position" ng-model="uc.usermodel.position"></div>
                        </div>
                        <!--<label class="col-4" for="spinner">Image File:</label><input type="file" name="profilePicture" class="custom-file-input" ng-model="uc.imageUpload.profilePicture">-->
                        <div class="form-group"><label class="col-lg-2 control-label">Profile Picture</label>
                            <div class="col-lg-10">
                                <div class="input-group">

                                    <!--<label class="col-4" for="spinner">Video File:</label> <div class="col-8"><input type="file" name="video" class="custom-file-input" required></div>-->
                                    <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                                Browse… <input id="upload" type="file" name="profilePicture" style="display: none;" multiple="" ng-model="uc.usermodel.profilePicture">
                                            </span>
                                        </label>
                                    <input type="text" id="filename" ng-model="uc.usermodel.profilePicture" class="form-control" readonly="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10"><input type="email" placeholder="Email" name="email" class="form-control" ng-model="uc.usermodel.email">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="inputPhone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number" ng-model="uc.usermodel.phone"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" name="skype" class="form-control" placeholder="Your Skype Id" ng-model="uc.usermodel.skype" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea name="shortBio" class="form-control" placeholder="Write Short Bio" ng-model="uc.usermodel.shortBio"></textarea></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Emergency Contact</label>
                            <div class="col-lg-10"> <textarea name="emergency_contact" class="form-control" placeholder="Name, relationship, phone number, email" ng-model="uc.usermodel.emergency_contact"></textarea>
                                <span class="help-block m-b-none">(Name, relationship, phone number, email)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" value="Upload Image" name="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                    <!--<form method="POST" action="/api/user/uploadPhotos" enctype="multipart/form-data">
                                <label class="col-4" for="spinner">Image File:</label><input type="file" name="file" class="custom-file-input" ng-model="uc.imageUpload.profilePicture" required>
                                <button class="btn btn-default" ng-click="uc.photoUpload(uc.imageUpload);"></button>
                            </form> -->
                </div>
                <div class="p-user-select-boxes" name="p-user-type-2" id="p-user-type-2" style="display:none;">
                    <form class="form-horizontal">
                        <h3>User Type: Writer</h3>
                        <div class="form-group"><label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Last Name" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Organization</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Select or Type Organization" list="p-organization" />
                                <datalist id="p-organization">
                                    <option>Organization 1</option>
                                    <option>Organization 2</option>
                                    <option>etc.</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Title/Position</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Position"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Profile Picture</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" style="display: none;" multiple="">
                    </span>
                </label>
                                    <input type="text" class="form-control" readonly="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Resume</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" style="display: none;" multiple="">
                    </span>
                </label>
                                    <input type="text" class="form-control" readonly="">
                                </div><span class="help-block m-b-none">(pdf, doc, or URL))	</span></div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Email*</label>

                            <div class="col-lg-10"><input type="email" placeholder="Email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="inputPhone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Your Skype Id" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Write Short Bio"></textarea></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Specialized knowledge or Skills</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Write about your specialized knowledge or Skills"></textarea></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Emergency Contact</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Name, relationship, phone number, email"></textarea>
                                <span class="help-block m-b-none">(Name, relationship, phone number, email)</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="p-user-select-boxes" name="p-user-type-3" id="p-user-type-3" style="display:none;">
                    <form class="form-horizontal">
                        <h3>User Type: Client Admin</h3>
                        <div class="form-group"><label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Last Name" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Organization</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Select or Type Organization" list="p-organization" />
                                <datalist id="p-organization">
  <option>Organization 1</option>
  <option>Organization 2</option>
  <option>etc.</option>
</datalist>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Title/Position</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Position"></div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Profile Picture</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" style="display: none;" multiple="">
                    </span>
                </label>
                                    <input type="text" class="form-control" readonly="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Email*</label>

                            <div class="col-lg-10"><input type="email" placeholder="Email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Phone*</label>
                            <div class="col-lg-10"><input class="form-control" id="inputPhone" maxlength="10" name="phone" size="10" title="" type="tel" value="" placeholder="Phone Number" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Your Skype Id" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Write Short Bio"></textarea></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="p-user-select-boxes" name="p-user-type-4" id="p-user-type-4" style="display:none;">
                    <form class="form-horizontal">
                        <h3>User Type: Client User</h3>
                        <div class="form-group"><label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Last Name" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Organization*</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Select or Type Organization" list="p-organization" required />
                                <datalist id="p-organization">
                                    <option>Organization 1</option>
                                    <option>Organization 2</option>
                                    <option>etc.</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Title/Position</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Position"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Profile Picture</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse… <input type="file" style="display: none;" multiple="">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10"><input type="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="inputPhone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Your Skype Id" required></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Write Short Bio"></textarea></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Special instructions/<br>requests</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Name, relationship, phone number, email"></textarea>
                                <span class="help-block m-b-none">(Any special instructions/requests)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Modal Filter --->
<div class="modal inmodal fade" id="myModalProjectFilter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Filters <button type="submit" class="btn btn-w-m btn-info"><i class="fa fa-send"> </i> Apply Filters</button> <button type="submit" class="btn btn-w-m btn-danger"><i class="fa fa-times"> </i> Clear</button></h4>
            </div>
            <div class="modal-body">

                <form method="get" class="form-horizontal">
                    <div class="form-group"><label class="col-sm-12 control-label " style="text-align: left;">Status </label>

                        <div class="col-sm-12">
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Project Admin</label></i>
                            </div>
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Writer</label></i>
                            </div>
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Client Admin</label></i>
                            </div>
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Client User</label></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-3 control-label " style="text-align: left;padding-bottom:20px;"> Organization</label>
                        <div class="col-sm-9 file-multi-sel">

                            <div class="input-group">
                                <select data-placeholder="Select one or more" class="chosen-select" multiple style="width:350px !important;" tabindex="4">
                <option value="ABC Client">ABC Client</option>
                <option value="DEF Client">DEF Client</option>
                <option value="IJK Client">IJK Client</option>
                </select>
                            </div>

                        </div>
                    </div>

                </form>





            </div>

        </div>
    </div>
</div>