<!--Top header Navigation area ends  -->
<div class="row wrapper border-bottom white-bg page-heading" ng-init="getProjectAccordingToLabel()">
    <div class="col-lg-10">
        <h2>Writer/ All Projects</h2>
    </div>
    <toaster-container></toaster-container>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <!-- main content area -->
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" ng-if="properties.drop"><i class="fa fa-cog"></i> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Accept</a></li>
                            <li><a href="#">Decline</a></li>
                            <li><a href="#">Request More Info.</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default" ng-if="properties.downloadButton"><i class="fa fa-download"></i> Download</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.projectUserModalButton" data-toggle="modal" data-target={{modals.project}}><i class="fa fa-plus"></i> New</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.clientUserModalButton" data-toggle="modal" data-target={{modals.client}}><i class="fa fa-plus"></i> New</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.deleteButton" ng-click="delete()"><i class="fa fa-trash"></i> Delete</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.labelButton"><i class="fa fa-tags"></i>Label</button>
                    <button type="button" class="btn btn-danger" ng-if="properties.favouriteButton"><i class="fa fa-heart"></i> Favourite</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.applyButton"><i class="fa fa-plus"></i> Apply</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.filtersButton" data-toggle="modal" data-target="#writerAdminModal"><i class="fa fa-sliders"></i> Filters</button>
                    <div class="ibox-tools">
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th ng-if="properties.null"></th>
                        <th>Project Name</th>
                        <th>ID</th>

                        <th>Duration</th>

                        <th>Status</th>
                        <th>Order Placed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <tr ng-repeat="s in productData">
                            <!--<td>
                                <div class="checkbox i-checks"><label> <input id={{s._id}} ng-click="checkUser(s, $index, this)"  type="checkbox" value=""> <i></i></label></i>
                                </div>
                            </td>-->
                            <td ng-click="showProjectById(s._id)">{{s.name}}</td>
                            <td ng-click="showProjectById(s._id)">{{s._id}}</td>
                            <td ng-click="showProjectById(s._id)">{{s.duration}}</td>
                            <td ng-click="showProjectById(s._id)">{{s.status}}</td>
                            <td ng-click="showProjectById(s._id)">{{s.createdAt}}</td>

                        </tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>


<div ng-include="'views/templates/user/newUserModal.html'"></div>