//---------------------------------------------------------------------------------
//                               VARIABLES / MIXINS
//---------------------------------------------------------------------------------

// ---------- MIXINS ----------

@mixin flexbox() {
	display: -webkit-box;      // OLD - iOS 6-, Safari 3.1-6
	display: -moz-box;         // OLD - Firefox 19- (buggy but mostly works)
	display: -ms-flexbox;      // TWEENER - IE 10
	display: -webkit-flex;     // NEW - Chrome
	display: flex;             // NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin flex($value) {
	-webkit-box-flex: $value;      // OLD - iOS 6-, Safari 3.1-6
	-moz-box-flex: $value;         // OLD - Firefox 19-
	-webkit-flex: $value;          // Chrome
	-ms-flex: $value;              // IE 10
	flex: $value;                  // NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin flex-order($value) {
	-webkit-box-ordinal-group: $value;   // OLD - iOS 6-, Safari 3.1-6
	-moz-box-ordinal-group: $value;      // OLD - Firefox 19-
	-ms-flex-order: $value;              // TWEENER - IE 10
	-webkit-order: $value;               // NEW - Chrome
	order: $value;                       // NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin box-sizing($value) {	
	-webkit-box-sizing: $value;
 	-moz-box-sizing: $value;
 	box-sizing: $value;
}

@mixin box-shadow($value...) {
	-webkit-box-shadow: $value;  // Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+
	-moz-box-shadow: $value;  // Firefox 3.5 - 3.6
	box-shadow: $value;  // Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5
}

@mixin transition($value...) {
	-webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}

@mixin keyframes($value) {
	@-webkit-keyframes #{$value} {
		@content;
	}
	@-moz-keyframes #{$value} {
		@content;
	}
	@-o-keyframes #{$value} {
		@content;
	}
	@keyframes #{$value} {
		@content;
	}
}

@mixin animation($value) {
	-webkit-animation: $value; // Safari 4+
	-moz-animation: $value; // Fx 5+
	-o-animation: $value; // Opera 12+
	animation: $value; // IE 10+, Fx 29+
}

@mixin device-at-least($value) {
	@media screen and (min-width: $value) {
		@content;
	}
}


// ---------- DIMENSIONS ----------

$container-xl: 1100px;

// ---------- COLORS ----------

$dark: #333333;
$gray: #666666;
$white: #ffffff;
$blue: #0086cd;
$orange:  #ff5c00;

/*---------------------------------------------------------------------------------
                     KEYFRAME ANIMATIONS (put some butter on it)
---------------------------------------------------------------------------------*/

@include keyframes(fadeIn) {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/*---------------------------------------------------------------------------------
                               BASE (only basic stuff)
---------------------------------------------------------------------------------*/

html {
	@include box-sizing(border-box);
	height: 100%;
	font-size: 14px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	@include box-sizing(inherit);
}

body {
	position: relative;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	color: $gray;
	background-color: #f3f5f6;
	@include animation(fadeIn 1s 1 ease forwards);
	padding-top: 60px; // same as header height
}

img {
	vertical-align: middle;
	max-width: 100%;
	align-self: flex-start;
}

input[type="text"],
textarea {
	@include transition(all 0.3s ease-in-out);

	&:focus {
		outline: none;
		border-color: rgba($blue, 0.4);
	}
}

input[type="text"] {
	height: 30px;
	background-color: transparent;
	border: none;
	border: 1px solid #cacaca;
	padding: 0 15px;
	max-width: 100%;
	vertical-align: middle;
	color: inherit;
	font-size: inherit;
	display: block;
	width: 100%;
	@include transition(border-color 0.3s ease-in-out);

	// Custom placeholders
	&::-webkit-input-placeholder {
		color: #999;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.5px;
	}
	&:-moz-placeholder {
		color: #999;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.5px;
	}
	&::-moz-placeholder {
		color: #999;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.5px;
	}
	&:-ms-input-placeholder {
		color: #999;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.5px;
	}
}

textarea {
	min-height: 130px;
	background-color: transparent;
	border: 1px solid #cacaca;
	padding: 10px 15px;	
	resize: vertical;
	max-width: 100%;
	display: block;
	width: 100%;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	position: relative;
	vertical-align: middle;
	margin-right: 5px;

	&::after {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		background: url('../assets/checkbox_normal.svg') no-repeat center;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:checked {
		&::after { background: url('../assets/checkbox_clicked.svg') no-repeat center; }
	}
}

a {
	text-decoration: none;
	color: $blue;
}

ul {
	list-style-type: none;
}

li {
	margin-left: 15px;

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 6px;
		height: 6px;
		border-radius: 6px;
		background-color: $gray;
		margin-right: 10px;
		margin-left: -15px; // own-width + margin-left
		margin-top: -3px;
	}

	& + li { margin-top: 5px; }
}

hr {
	border: none;
	display: block;
	height: 1px;
	background-color: #d5d5d5;
	margin: 20px 0;
}


/*---------------------------------------------------------------------------------
                                  LAYOUT (core layout)
---------------------------------------------------------------------------------*/
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: $container-xl;
}

.flexbox { @include flexbox(); }

.eq-items { > * { @include flex(1 1 0%); } }


/*---------------------------------------------------------------------------------
                              COMPONENTS (re-usable stuff)
---------------------------------------------------------------------------------*/
.clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

.p-t-15 { padding-top: 15px; }
.p-b-15 { padding-bottom: 15px; }
.m-t-15 { margin-top: 15px; }
.m-b-15 { margin-bottom: 15px; }

.button {
	display: inline-block;
	text-transform: uppercase;
	background-color: $orange;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	color: #fff;
	letter-spacing: 1px;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 32px;
	text-decoration: none;
	min-width: 65px;
	text-align: center;
	border: none;
	vertical-align: middle;
	margin-right: 5px;
}

.box {
	overflow: auto;
	border: 15px solid transparent;
	background-color: #f3f5f6; // hide overlapping box-shadow
	border-right-width: 8px;
	padding-right: 7px;
	@include box-shadow(0 0 0 1px #cfd6d9);

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	&::-webkit-scrollbar-thumb { background-color: rgba(30, 57, 72, 0.3); }
}

.box-title {
	text-transform: uppercase;
	background-color: #f3f5f6;
	display: inline-block;
	font-weight: 500;
	letter-spacing: 1px;
	position: absolute;
	top: -10px;
	left: 15px;
	@include box-shadow(10px 0 0 0 #f3f5f6, -10px 0 0 0 #f3f5f6, 0 1px 0 0 #cfd6d9);
	padding-bottom: 2px;
	cursor: default;
	z-index: 91;
	color: $orange;
}

.hide { display: none !important; }

/*---------------------------------------------------------------------------------
                               MODULES (elements of page)
---------------------------------------------------------------------------------*/

.header {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $white;
	// border-bottom: 1px solid rgba(153, 153, 153, 0.2);
	z-index: 100;
	@include box-shadow(0 0 5px rgba(57,70,78,.2));
}


.logo {
	display: inline-block;
	width: 330px;
	height: 40px;
	background: url('../assets/logo.jpg') no-repeat center;
	margin-top: 9px;
	float: right;
}

.header-menu {
	float: left;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 20px;

	> li {
		float: left;
		font-size: 1.1rem;
		height: 27px;
		margin-left: 0;
		margin-right: 30px;
		position: relative;
		margin-top: 0;

		&::before {
			content: '';
			display: block;
			height: 2px;
			width: 0;
			background-color: rgba($orange, 0.75);
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0;
			border-radius: 0;
			@include transition(width 0.15s ease-in-out);
			z-index: -1;
		}

		&:hover {
			&::before { width: 100%; }
		}
	}

	a {
		color: $dark;
		display: inline-block;
		height: 100%;
		width: 100%;
		@include transition(all 0.13s ease-out);

		&:hover { color: $orange; }
	}

	.submenu {
		background-color: $white;
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 200px;
		opacity: 0;
		@include transition(opacity 0.2s ease-in-out);
		text-transform: none;
		visibility: hidden;

		li {
			margin: 0;
			border-left: 1px solid rgba(153, 153, 153, 0.2);
			border-right: 1px solid rgba(153, 153, 153, 0.2);
			@include box-shadow(0 -1px 0 rgba(153, 153, 153, 0.2) inset);
			height: 0;
			@include transition(height 0.2s ease-in-out);

			&::before { display: none; }
		}

		a {
			padding-left: 13px;
			padding-right: 15px;
			font-weight: 400;
			line-height: 35px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				background-color: $orange;
				color: $white;
			}
		}

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 0;
			@include box-shadow(0 -1px 0 rgba(153, 153, 153, 0.2) inset);
			@include transition(height 0.2s ease-in-out);
		}
	}

	.submenu-wrap:hover {
		.submenu {
			opacity: 1;
			visibility: visible;

			&::before { height: 14px; }
		}

		li { height: 35px; }

		> a { color: $orange; }
	}
}

.caption-editor,
.info-media,
.caption-info-wrap,
.info-box,
.media-box {
	@include transition(height 0.1s ease-in-out, width 0.1s ease-in-out);
}

.caption-editor {
	width: 68%;
	position: relative;
	min-height: 130px; // double of info-media

	.box {
		height: 100%;
		border-top-width: 20px;
	}
}

.info-media {
	width: 32%;
	height: auto !important; // override inline bug
	flex-grow: 1;
	position: relative;
	@include flexbox();
	flex-direction: column;

	.info-box, .media-box {
		flex-grow: 1;
		flex-shrink: 1;
		@include flexbox();
		min-height: 65px;
		position: relative;
		top: 0 !important;
	}

	.box {
		height: auto;
		flex-grow: 1;
		border-top-width: 20px;
	}

	.info-box {
		width: auto !important; // override inline bug
		height: 35%;
	}
	.media-box { height: 65%; }
}

.caption-info-wrap {
	@include flexbox();
	@include transition(height 0.15s ease-in-out);
	justify-content: space-between;
	height: 330px; // initial height
	margin-top: 30px;
}

.wave-wrap {
	background-color: rgba($gray, 0.2);
	margin-top: 10px;
	margin-bottom: 10px;

	img { width: 100%; }
}

.wave-zoom-ctrl {
	display: inline-block;

	input[type="range"] {
		vertical-align: middle;
		margin-left: 10px;
		margin-right: 10px;
		width: 300px;
	}

	.fa {
		font-size: 20px;
		color: $gray;
	}
}

.video-wrap {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; // Ratio of 12:7
	position: relative;

	iframe {
		position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	}
}

[data-shrink] .ui-resizable-handle { display: none; }


.ui-resizable-e,
.ui-resizable-w {
	cursor: col-resize;

	&::after {
		content: '';
		display: block;
		height: 100%;
		width: 1px;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		background-color: $blue;
		display: none;
	}
}

.ui-resizable-n,
.ui-resizable-s {
	cursor: row-resize;

	&::after {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		background-color: $blue;
		display: none;
	}
}

// .ui-resizable-handle { background-color: rgba($orange, 0.5) }

.block-toggle-ctrl {
	display: block;
	position: absolute;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	z-index: 91; // 1 more than .ui-resizable-handle

	&.btc-e,
	&.btc-w {
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		width: 11px;
		height: 45px;
		background-image:   -moz-linear-gradient(left, transparent 3px, $orange 3px, $orange 7px, transparent 7px);
		background-image:   -o-linear-gradient(left, transparent 3px, $orange 3px, $orange 7px, transparent 7px);
		background-image:   linear-gradient(to right, transparent 3px, $orange 3px, $orange 7px, transparent 7px);
	}
	&.btc-e { right: -5px; }
	&.btc-w { left: -5px; }

	&.btc-n,
	&.btc-s {
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		width: 45px;
		height: 11px;
		background-image:   -moz-linear-gradient(top, transparent 3px, $orange 3px, $orange 7px, transparent 7px);
		background-image:   -o-linear-gradient(top, transparent 3px, $orange 3px, $orange 7px, transparent 7px);
		background-image:   linear-gradient(to bottom, transparent 3px, $orange 3px, $orange 7px, transparent 7px);
	}
	&.btc-n { top: -5px; }
	&.btc-s { bottom: -5px; }
}


.waveform-wrap {
	.box { overflow: hidden; } // Firefox bug
}