/*---------------------------------------------------------------------------------
                     KEYFRAME ANIMATIONS (put some butter on it)
---------------------------------------------------------------------------------*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*---------------------------------------------------------------------------------
                               BASE (only basic stuff)
---------------------------------------------------------------------------------*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    background-color: #f3f5f6;
    -webkit-animation: fadeIn 1s 1 ease forwards;
    -moz-animation: fadeIn 1s 1 ease forwards;
    -o-animation: fadeIn 1s 1 ease forwards;
    animation: fadeIn 1s 1 ease forwards;
    padding-top: 60px;
}

img {
    vertical-align: middle;
    max-width: 100%;
    align-self: flex-start;
}

input[type="text"],
textarea {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: rgba(0, 134, 205, 0.4);
}

input[type="text"] {
    height: 30px;
    background-color: transparent;
    border: none;
    border: 1px solid #cacaca;
    padding: 0 10px;
    max-width: 100%;
    vertical-align: middle;
    color: inherit;
    font-size: inherit;
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    margin: 5px;
}

input[type="text"]::-webkit-input-placeholder {
    color: #999;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

input[type="text"]:-moz-placeholder {
    color: #999;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

input[type="text"]::-moz-placeholder {
    color: #999;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

input[type="text"]:-ms-input-placeholder {
    color: #999;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

textarea {
    min-height: 130px;
    background-color: transparent;
    border: 1px solid #cacaca;
    padding: 10px 15px;
    resize: vertical;
    max-width: 100%;
    display: block;
    width: 100%;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
}

input[type="checkbox"]::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: url("../assets/checkbox_normal.svg") no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked::after {
    background: url("../assets/checkbox_clicked.svg") no-repeat center;
}

input[type="radio"] {
    margin: 5px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #0086cd;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 15px;
}

li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #666666;
    margin-right: 10px;
    margin-left: -15px;
    margin-top: -3px;
}

li+li {
    margin-top: 5px;
}

hr {
    border: none;
    display: block;
    height: 1px;
    background-color: #d5d5d5;
    margin: 20px 0;
}


/*---------------------------------------------------------------------------------
                                  LAYOUT (core layout)
---------------------------------------------------------------------------------*/

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.eq-items>* {
    -webkit-box-flex: 1 1 0%;
    -moz-box-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}


/*---------------------------------------------------------------------------------
                              COMPONENTS (re-usable stuff)
---------------------------------------------------------------------------------*/

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.p-t-15 {
    padding-top: 15px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    background-color: #ff5c00;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    letter-spacing: 1px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 32px;
    text-decoration: none;
    min-width: 65px;
    text-align: center;
    border: none;
    vertical-align: middle;
    margin-right: 5px;
}

.box {
    overflow: auto;
    border: 15px solid transparent;
    background-color: #f3f5f6;
    border-right-width: 8px;
    padding-right: 7px;
    -webkit-box-shadow: 0 0 0 1px #cfd6d9;
    -moz-box-shadow: 0 0 0 1px #cfd6d9;
    box-shadow: 0 0 0 1px #cfd6d9;
}

.box::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.box::-webkit-scrollbar-thumb {
    background-color: rgba(30, 57, 72, 0.3);
}

.box-title {
    text-transform: uppercase;
    background-color: #f3f5f6;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    top: -10px;
    left: 15px;
    -webkit-box-shadow: 10px 0 0 0 #f3f5f6, -10px 0 0 0 #f3f5f6, 0 1px 0 0 #cfd6d9;
    -moz-box-shadow: 10px 0 0 0 #f3f5f6, -10px 0 0 0 #f3f5f6, 0 1px 0 0 #cfd6d9;
    box-shadow: 10px 0 0 0 #f3f5f6, -10px 0 0 0 #f3f5f6, 0 1px 0 0 #cfd6d9;
    padding-bottom: 2px;
    cursor: default;
    z-index: 91;
    color: #ff5c00;
}

.hide {
    display: none !important;
}

.modal-glass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 101;
    text-align: center;
}

.modal {
    position: relative;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f3f5f6;
    display: inline-block;
    text-align: left;
    min-width: 300px;
    max-width: 95vw;
    max-height: 75vh;
}

.modal .modal-heading {
    background-color: #ff5c00;
    color: #ffffff;
    font-size: 1.13em;
    text-transform: uppercase;
    padding: 0 45px 0 15px;
    -webkit-box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
    -moz-box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
    box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    margin-top: -45px;
}

.modal .modal-close {
    position: absolute;
    top: -35px;
    right: 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    width: 18px;
    height: 18px;
    font-size: 25px;
    color: #ffffff;
}

.modal .modal-body {
    border: 15px solid transparent;
    border-right-width: 10px;
    border-bottom-width: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-y: auto;
    max-width: inherit;
    max-height: inherit;
}

.modal.show-modal {
    opacity: 1;
    margin-top: 105px;
}

.modal ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.modal ::-webkit-scrollbar-thumb {
    background-color: rgba(30, 57, 72, 0.3);
}

.thick-text {
    font-weight: 500;
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 5px;
}

.text-center {
    text-align: center;
}


/*---------------------------------------------------------------------------------
                               MODULES (elements of page)
---------------------------------------------------------------------------------*/

.header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
    -webkit-box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
    -moz-box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
    box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
}

.logo {
    display: inline-block;
    width: 330px;
    height: 40px;
    background: url("../assets/logo.jpg") no-repeat center;
    margin-top: 9px;
    float: right;
}

.header-menu {
    float: left;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}

.header-menu>li {
    float: left;
    font-size: 1.1rem;
    height: 27px;
    margin-left: 0;
    margin-right: 30px;
    position: relative;
    margin-top: 0;
}

.header-menu>li::before {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: rgba(255, 92, 0, 0.75);
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    -webkit-transition: width 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    z-index: -1;
}

.header-menu>li:hover::before {
    width: 100%;
}

.header-menu a {
    color: #333333;
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.13s ease-out;
    -moz-transition: all 0.13s ease-out;
    -o-transition: all 0.13s ease-out;
    transition: all 0.13s ease-out;
}

.header-menu a:hover {
    color: #ff5c00;
}

.header-menu .submenu {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 200px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    text-transform: none;
    visibility: hidden;
}

.header-menu .submenu li {
    margin: 0;
    border-left: 1px solid rgba(153, 153, 153, 0.2);
    border-right: 1px solid rgba(153, 153, 153, 0.2);
    -webkit-box-shadow: 0 -1px 0 rgba(153, 153, 153, 0.2) inset;
    -moz-box-shadow: 0 -1px 0 rgba(153, 153, 153, 0.2) inset;
    box-shadow: 0 -1px 0 rgba(153, 153, 153, 0.2) inset;
    height: 0;
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

.header-menu .submenu li::before {
    display: none;
}

.header-menu .submenu a {
    padding-left: 13px;
    padding-right: 15px;
    font-weight: 400;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-menu .submenu a:hover {
    background-color: #ff5c00;
    color: #ffffff;
}

.header-menu .submenu::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    -webkit-box-shadow: 0 -1px 0 rgba(153, 153, 153, 0.2) inset;
    -moz-box-shadow: 0 -1px 0 rgba(153, 153, 153, 0.2) inset;
    box-shadow: 0 -1px 0 rgba(153, 153, 153, 0.2) inset;
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

.header-menu .submenu-wrap:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.header-menu .submenu-wrap:hover .submenu::before {
    height: 14px;
}

.header-menu .submenu-wrap:hover li {
    height: 35px;
}

.header-menu .submenu-wrap:hover>a {
    color: #ff5c00;
}

.caption-editor,
.info-media,
.caption-info-wrap,
.info-box,
.media-box {
    -webkit-transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
    -o-transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
    transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
}

.caption-editor {
    width: 72%;
    position: relative;
    min-height: 130px;
}

.caption-editor .box {
    height: 100%;
    border-top-width: 20px;
}

.info-media {
    width: 28%;
    height: auto !important;
    flex-grow: 1;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.info-media .info-box,
.info-media .media-box {
    flex-grow: 1;
    flex-shrink: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 65px;
    position: relative;
    top: 0 !important;
}

.info-media .box {
    height: auto;
    flex-grow: 1;
    border-top-width: 20px;
}

.info-media .info-box {
    width: auto !important;
    height: 35%;
}

.info-media .media-box {
    height: 65%;
}

.caption-info-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition: height 0.15s ease-in-out;
    -moz-transition: height 0.15s ease-in-out;
    -o-transition: height 0.15s ease-in-out;
    transition: height 0.15s ease-in-out;
    justify-content: space-between;
    height: 53vh;
    margin-top: 30px;
}

.wave-wrap {
    background-color: rgba(102, 102, 102, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

.wave-wrap img {
    width: 100%;
    height: 15vh;
}

.wave-zoom-ctrl {
    display: inline-block;
}

.wave-zoom-ctrl input[type="range"] {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}

.wave-zoom-ctrl .fa {
    font-size: 20px;
    color: #666666;
}

.video-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

[data-shrink] .ui-resizable-handle {
    display: none;
}

.ui-resizable-e,
.ui-resizable-w {
    cursor: col-resize;
}

.ui-resizable-e::after,
.ui-resizable-w::after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #0086cd;
    display: none;
}

.ui-resizable-n,
.ui-resizable-s {
    cursor: row-resize;
}

.ui-resizable-n::after,
.ui-resizable-s::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #0086cd;
    display: none;
}

.block-toggle-ctrl {
    display: block;
    position: absolute;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 91;
}

.block-toggle-ctrl.btc-e,
.block-toggle-ctrl.btc-w {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 11px;
    height: 45px;
    background-image: -moz-linear-gradient(left, transparent 3px, #ff5c00 3px, #ff5c00 7px, transparent 7px);
    background-image: -o-linear-gradient(left, transparent 3px, #ff5c00 3px, #ff5c00 7px, transparent 7px);
    background-image: linear-gradient(to right, transparent 3px, #ff5c00 3px, #ff5c00 7px, transparent 7px);
}

.block-toggle-ctrl.btc-e {
    right: -5px;
}

.block-toggle-ctrl.btc-w {
    left: -5px;
}

.block-toggle-ctrl.btc-n,
.block-toggle-ctrl.btc-s {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 45px;
    height: 11px;
    background-image: -moz-linear-gradient(top, transparent 3px, #ff5c00 3px, #ff5c00 7px, transparent 7px);
    background-image: -o-linear-gradient(top, transparent 3px, #ff5c00 3px, #ff5c00 7px, transparent 7px);
    background-image: linear-gradient(to bottom, transparent 3px, #ff5c00 3px, #ff5c00 7px, transparent 7px);
}

.block-toggle-ctrl.btc-n {
    top: -5px;
}

.block-toggle-ctrl.btc-s {
    bottom: -5px;
}

.waveform-wrap {
    margin-bottom: 5px;
}

.waveform-wrap .box {
    overflow: hidden;
}

[data-modal="manual-timestamp"] .timestamp input[type="text"] {
    width: 100px;
}

[data-modal="manual-timestamp"] .timestamp input[type="text"]:nth-child(3n) {
    width: 400px;
}

.able-transcript {
    padding-left: 0;
}

.able-transcript div:focus {
    outline: none;
}


/*# sourceMappingURL=style.css.map */

table.tbltimecode {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.tbltimecode tr.tableheader {
    background-color: lightgray;
}

table.tbltimecode td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

table.tbltimecode tr:nth-child(even) {
    background-color: transparent;
}

table.tbltimecode th:first-child {
    width: auto;
}

table.tbltimecode td:first-child {
    width: auto;
}

table.tbltimecode input[type="text"] {
    border-style: solid;
    width: auto;
}

.dialogBox input[type="text"] {
    width: auto;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.ajaxmodal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .ajaxmodal {
    display: block;
}


/*custom new css 23-may-17 */

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #ff5c00;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ff5c00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #e15c11;
}

input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
}

input[type='file']::before {
    content: 'Select File';
    display: inline-block;
    background: -webkit-linear-gradient(top, #1a1a1a, #000000);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    color: #ffffff;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 0px 0px #fff;
    font-size: 10pt;
}

input[type='file']:hover::before {
    border-color: black;
}

input[type='file']:active::before {
    background: -webkit-linear-gradient(top, #1a1a1a, #000000);
}

input[type='file'] {
    outline: none;
}

#timecodeeditor #btnAdd {
    margin-top: 7px;
}

.button:hover {
    background-color: #fe6d1c;
}

.openCaptionVideo {
    min-width: 540px;
    max-width: 90vw;
    max-height: 75vh;
}

[data-modal="export_open"] {
    min-width: 520px !important;
    max-width: 95vw;
    max-height: 75vh;
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.66666667%
}

.col-10 {
    width: 83.33333333%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.66666667%
}

.col-7 {
    width: 58.33333333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.66666667%
}

.col-4 {
    width: 33.33333333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.66666667%
}

.col-1 {
    width: 8.33333333%
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.form-group {
    margin-bottom: 15px;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.form-group:after {
    display: table;
    content: " ";
    clear: both;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.1em;
}

.form-group .checkbox {
    padding: 10px 0;
}

.margin-btm-10p {
    margin-bottom: 10px
}

#addAnotherVideo {
    margin: 10px 0;
}

.modal-body {
    display: inline-block;
}

.tbltimecode tbody tr td:nth-of-type(2) {
    width: 134px;
}

.tbltimecode tbody tr td:nth-of-type(3) {
    width: 134px;
}

.tbltimecode tbody tr td:nth-of-type(4) {
    width: 583px;
}

.tbltimecode tbody tr td textarea {
    width: 100% !important;
}

.tbltimecode tbody tr td input[type="text"] {
    width: 107px;
}

.tbltimecode tbody tr td:nth-of-type(4) input[type="text"] {
    width: 100% !important;
    margin: 0;
}

.tbltimecode tbody tr.tableheader th {
    text-transform: uppercase;
}

@media (max-width:767px) {
    [data-modal="export_open"] {
        min-width: 300px;
        max-width: 95vw;
        max-height: 75vh;
    }
    .col-6 {
        width: 100%;
    }
    .header {
        height: 100px;
        width: 100%;
    }
    .header-menu>li {
        margin-right: 15px;
    }
    .info-media {
        width: 100%;
    }
    .caption-info-wrap {
        margin-top: 65px;
    }
    .timecodeeditor {
        width: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    table.tbltimecode {
        width: 500px;
    }
}


/* custom css */

.header-custom {
    margin-left: 227px;
}


/*.dynamic-view {
  margin-left: 219px;
}*/


/*added by akash*/

.notifcation-height {
    height: 30px;
}

.downloadButton {
    top: 10px !important;
}

.mainPadding {
    padding-left: 7px !important;
}