<!--Top header Navigation area ends  -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    </div>
    <div ng-if="loader" class="loading">Loading&#8230;</div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 magin9px">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" ng-if="properties.drop">
                            <i class="fa fa-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Accept</a>
                            </li>
                            <li>
                                <a href="#">Decline</a>
                            </li>
                            <li>
                                <a href="#">Request More Info.</a>
                            </li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-primary" ng-if="properties.projectUserModalButton" data-toggle="modal" data-target={{modals.project}}>
                        <i class="fa fa-plus"></i> New</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.clientUserModalButton" data-toggle="modal" data-target={{modals.client}}>
                        <i class="fa fa-plus"></i> New</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.deleteButton" ng-disabled="data.ids.length == 0" ng-click="delete()">
                        <i class="fa fa-trash"></i> Delete</button>

                    <button type="button" class="btn btn-primary" ng-if="properties.applyButton ">
                        <i class="fa fa-plus"></i> Apply</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.applyButton ">
                        <i class="fa fa-plus"></i> UnApply</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.filtersProjectButton" data-toggle="modal" data-target="#myModalProjFilter">
                        <i class="fa fa-sliders"></i> Filter</button>
                    <button type="button" class="btn btn-primary" ng-if="properties.filtersButton" data-toggle="modal" data-target={{modal2Id}}>
                        <i class="fa fa-sliders"></i> Filters</button>
                    <div class="col-md-3 filtercss pull-right">
                        <select class="form-control" ng-options="item for item in filterData" ng-model="selected" ng-change="setValue(selected)">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content table-responsive ">
            <table class="table projectName table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th ng-if="currentState != 'dashboard.jobBoard'">

                        </th>
                        <th class="text-center" ng-if="properties.projectName" ng-click="setSort(uc.projects,'projectName')">

                            <button type="button" class="btn btn-link">Project Name &nbsp
                                <i ng-class="messageClass"></i>
                            </button>

                        </th>
                        <th class="text-center" ng-if="properties.service" ng-click="setSort(uc.projects,'service')">

                            <button type="button" class="btn btn-link">Service &nbsp
                                <i ng-class="messageClass"></i>
                            </button>

                        </th>

                        <th class="text-center" ng-if="properties.duration" ng-click="setSort(uc.projects,'duration')">
                            <button type="button" class="btn btn-link">Duration &nbsp
                                <i ng-class="messageClass"></i>
                            </button>


                        </th>
                        <th class="text-center" ng-if="properties.dueDate">Order Place</th>
                        <th class="text-center" ng-if="properties.status">Status</th>
                        <th class="text-center" ng-if="properties.orderPlaced" ng-if="properties.duration" ng-click="setSort(uc.projects,'order')">

                            <button type="button" class="btn btn-link">Order Place &nbsp
                                <i ng-class="messageClass"></i>
                            </button>

                        </th>
                        <th class="text-center" ng-if="properties.orderDue" ng-click="setSort(uc.projects,'order')">
                            <button type="button" class="btn btn-link"> Due Date &nbsp
                                <i ng-class="messageClass"></i>
                            </button>

                        </th>
                        <th ng-if="properties.client">Client</th>
                        <th ng-if="properties.firstName" ng-click="setSort(uc.users,'firsname')">
                            <button type="button" class="btn btn-link">First Name &nbsp
                                <i ng-class="messageClass"></i>
                            </button>
                        </th>
                        <th ng-if="properties.LastName" ng-click="setSort(uc.users,'lastname')">
                            <button type="button" class="btn btn-link">Last Name &nbsp
                                <i ng-class="messageClass"></i>
                            </button>
                        </th>
                        <th ng-if="properties.department">Department</th>
                        <th ng-if="properties.usertype" ng-click="setSort(uc.users,'userType')">
                            <button type="button" class="btn btn-link">User Type &nbsp
                                <i ng-class="messageClass"></i>
                            </button>
                        </th>
                        <th ng-if="properties.email" ng-click="setSort(uc.users,'email')">
                            <button type="button" class="btn btn-link">Email &nbsp
                                <i ng-class="messageClass"></i>
                            </button>
                        </th>
                        <th ng-if="properties.phone" ng-click="setSort(uc.users,'phone')">
                            <button type="button" class="btn btn-link">Phone &nbsp
                                <i ng-class="messageClass"></i>
                            </button>
                        </th>
                        <th ng-if="properties.organization" ng-click="setSort(uc.users,'organization')">
                            <button type="button" class="btn btn-link">Organization &nbsp
                                <i ng-class="messageClass"></i>
                            </button>
                        </th>
                        <th ng-if="properties.title" ng-click="setSort(uc.users,'title')">
                            <button type="button" class="btn btn-link">Title &nbsp
                                <i ng-class="messageClass"></i>
                            </button>
                        </th>
                        <th ng-if="properties.skype">Skype</th>

                        <th class="text-center" ng-if="properties.invoice && userCondition && invoice" ng-click="setSort(uc.projects,'totalPrice')">

                            <button type="button" class="btn btn-link">Invoice Amount &nbsp
                                <i ng-class="messageClass"></i>
                            </button>

                        </th>
                        <th class="text-center" ng-if="properties.writerPrice && userCondition" ng-click="setSort(uc.projects,'writerPrice')">
                            <button type="button" class="btn btn-link">Writer Amount &nbsp
                                <i ng-class="messageClass"></i>
                            </button>


                        </th>
                        <th class="text-center" ng-if="properties.Apply && currentUser.data.user.role == 'writer'">Apply</th>
                        <th class="text-center" ng-if="properties.Apply && currentUser.data.user.role == 'writer'">Unapply</th>
                        <th ng-if="properties.Update">Update</th>

                        <th ng-if="properties.login && currentUser.data.user.role=='super_user'">login </th>
                        <th ng-if="properties.login && currentUser.data.user.role=='super_user'">Resend Password</th>
                    </tr>
                </thead>
                <tbody ng-if="properties.project">
                    <tr class="gradeX">
                        <tr ng-repeat="s in uc.projects">
                            <td ng-if="currentState != 'dashboard.jobBoard'">
                                <div class="">
                                    <label>
                                        <input type="checkbox" value="">
                                        <i></i>
                                    </label>
                                    </i>
                                </div>
                            </td>
                            <td ng-if="properties.projectName" ng-click="showProjectById(s._id)">{{s.name}}</td>
                            <td ng-if="properties.service" ng-click="showProjectById(s._id)">{{s.service.name}}</td>
                            <td ng-if="properties.duration" ng-click="showProjectById(s._id)">{{s.duration }}</td>
                            <td ng-if="properties.dueDate" ng-click="showProjectById(s._id)">{{s.Duedate}}</td>
                            <td ng-if="properties.status" ng-click="showProjectById(s._id)">{{s.status}}</td>
                            <td ng-if="properties.orderPlaced" ng-click="showProjectById(s._id)">{{s.updatedAt | date:'MM/dd/yyyy'}}</td>
                            <td ng-if="properties.orderDue" ng-click="showProjectById(s._id)">{{s.orderDue | date:'MM/dd/yyyy'}}</td>
                            <td ng-if="properties.client" ng-click="showProjectById(s._id)">{{s.clientUser}}</td>
                            <td ng-if="properties.firstName" ng-click="showProjectById(s._id)">{{s.firstname}}</td>
                            <td ng-if="properties.LastName" ng-click="showProjectById(s._id)">{{s.lastname}}</td>
                            <td ng-if="properties.department" ng-click="showProjectById(s._id)">{{s.department}}</td>
                            <td ng-if="properties.usertype" ng-click="showProjectById(s._id)">{{s.role.name}}</td>
                            <td ng-if="properties.email" ng-click="showProjectById(s._id)">{{s.email}}</td>
                            <td ng-if="properties.phone" ng-click="showProjectById(s._id)">{{s.phone}}</td>
                            <td ng-if="properties.organization" ng-click="showProjectById(s._id)">{{s.organization}}</td>
                            <td ng-if="properties.title" ng-click="showProjectById(s._id)">{{s.title}}</td>
                            <td ng-if="properties.skype" ng-click="showProjectById(s._id)">{{s.skype}}</td>

                            <td ng-if="properties.invoice && userCondition && invoice" ng-click="showProjectById(s._id)">{{s.totalPrice[0]}}</td>
                            <td ng-if="properties.invoice && userCondition" ng-click="showProjectById(s._id)">{{s.writerPrice[0]}}</td>
                            <td ng-if="properties.Apply && currentUser.data.user.role == 'writer'">
                                <button type="button" class="btn btn-danger" ng-click="applyJob(s._id,'apply')" ng-disabled="s.jobApplied">
                                    <i class="fa fa-heart"></i> Apply</button>
                            </td>
                            <td ng-if="properties.Apply && currentUser.data.user.role == 'writer'">
                                <button type="button" class="btn btn-danger" ng-click="applyJob(s._id,'unapply')" ng-disabled="!s.jobApplied">
                                    <i class="fa fa-window-close-o"></i>
                                    UnApply</button>
                            </td>
                        </tr>
                    </tr>
                </tbody>
                <tbody ng-if="properties.clientPanal">
                    <tr class="gradeX">
                        <tr ng-repeat="s in uc.users">

                            <td class="checkbox-padding-adjust">
                                <p class="checkbox checkbox-warning">
                                    <input id="s{{$index}}" type="checkbox" ng-model="value" ng-click="checkUser(value,s._id)">
                                    <label for="s{{$index}}">
                                    </label>
                                </p>
                            </td>

                            <td ng-if="properties.projectName" editable-text="s.name">{{s.name}}</td>
                            <td ng-if="properties.service">{{s.service}}</td>
                            <td ng-if="properties.duration">{{s.duration}}</td>
                            <td ng-if="properties.dueDate" editable-text="s.Duedate">{{s.Duedate}}</td>
                            <td ng-if="properties.status">{{s.status}}</td>
                            <td ng-if="properties.orderPlaced">{{s.createdAt}}</td>
                            <td ng-if="properties.orderDue" editable-text="s.orderDue">{{s.orderDue}}</td>
                            <td ng-if="properties.client" editable-text="s.clientUser">{{s.clientUser}}</td>
                            <td ng-if="properties.firstName" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">
                                {{s.firstname}}
                            </td>



                            <td ng-if="properties.LastName" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">

                                {{s.lastname}}

                            </td>
                            <td ng-if="properties.department" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">

                                {{s.department}}

                            </td>
                            <td ng-if="properties.usertype" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">{{s.role.name}}</td>
                            <td ng-if="properties.email" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">{{s.email}}</td>
                            <td ng-if="properties.phone" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">
                                {{s.phone}}
                            </td>
                            <td ng-if="properties.organization" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">{{s.organization}}</td>

                            <td ng-if="properties.title" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">
                                {{s.title}}
                            </td>
                            <td ng-if="properties.skype" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">
                                {{s.skype}}
                            </td>
                            <td ng-if="properties.technical" data-toggle="modal" ng-click="getUserById(s._id)" data-target="{{modalId}}">{{s.technical}}</a>
                            </td>
                            <td ng-if="properties.invoice && currentUser.data.user.role =! 'writer'" data-toggle="modal" ng-click="getUserById(s._id)"
                                data-target="{{modalId}}">
                                {{s.invoiceamount}}
                            </td>
                            <td ng-if="properties.Apply" editable-text="s.apply">
                                <a href="#" editable-text="s.apply">
                                    {{s.apply}}
                                </a>
                            </td>
                            <td ng-if="properties.login && currentUser.data.user.role == 'super_user'  && !s.superCheck">
                                <button class="btn btn-primary" ng-click="loginAsUser(s._id)"> login As User </button>
                            </td>
                            <td ng-if="properties.login && currentUser.data.user.role == 'super_user'  && !s.superCheck">
                                <button class="btn btn-primary" ng-click="resendPassword(s._id)"> Resend Password Link </button>
                            </td>
                        </tr>
                    </tr>
                </tbody>
            </table>
            <div>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-click="pageChanged()"></ul>
            </div>

        </div>

    </div>
</div>
</div>
</div>


<div ng-include="'views/templates/user/newUserModal.html'"></div>