<!-- =========================================userPanelModal Start===============================================-->

<div class="modal inmodal fade" id="myModalProjectUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">New User</h4>
            </div>
            <div class="modal-body">
                <!--- Form users  -->
                <select class="form-control m-b" name="usertype" ng-model="uc.usermodel.usertype" ng-change="selectUserForm(uc.usermodel.usertype)">
               <option value="" >----Select User Role----</option>
               <option ng-repeat="role in uc.roles" value="{{role}}">{{role.name}}</option>
            </select>
                <div class="p-user-select-boxes" ng-if="project_admin || project_user" ng-include="'views/templates/user/forms/projectAdminForm.html'">
                </div>
                <div class="p-user-select-boxes" ng-if="writer" ng-include="'views/templates/user/forms/writerForm.html'">
                </div>
                <div class="p-user-select-boxes" ng-if="client_admin || super_user" ng-include="'views/templates/user/forms/clientAdminForm.html'">
                </div>
                <div class="p-user-select-boxes" ng-if="client_user" ng-include="'views/templates/user/forms/clientUserForm.html'">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =========================================userPanelModal End=================================================-->

<div class="modal inmodal fade" id="myModalClientUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">New User</h4>
            </div>
            <!--<div>
                <input type="radio" ng-model="value" value="foo" ng-change='testfun(value)'>
                <input type="radio" name="gender" ng-model="name" value="female" ng-click="testfun(test)"> {{name}}<br>
                <input type="radio" ng-model="test" ng-click="testfun(test)"> {{test}}
               
        </div>-->
            <div class="modal-body">
                <!--- Form users  -->
                <div class="p-user-select-boxes" name="p-user-type-4" id="p-user-type-4" style="display:block;">
                    <form method="post" action="/api/user" enctype="multipart/form-data" class="form-horizontal">
                        <h3>User Type: Client User</h3>
                        <div class="col-sm-12">
                            <div class="row new-user-radio">
                                <ul>

                                    <li>
                                        <input type="radio" id="f-option" id="clientUserTypeAdmin" ng-model="value" ng-change="selectUserType(value)" value="admin" name="selector" checked>
                                        <label for="f-option">Admin</label>
                                        <div class="check"></div>
                                    </li>
                                    <li>
                                        <input type="radio" id="s-option" id="clientUserTypeUser" ng-model="value" name="selector" ng-change="selectUserType(value)" value="individual_user">
                                        <label for="s-option">Individual User</label>
                                        <div class="check">
                                            <div class="inside"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--new-user-radio-->
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" id="firstName" name="firstname" class="form-control" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label class="col-lg-2 control-label">userType</label>
                            <div class="col-lg-10"><input type="text" id="userType" name="userType" value={{uc.usermodel.usertype}} class="form-control" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" id="lastName" name="lastname" class="form-control" placeholder="Last Name" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Title*</label>
                            <div class="col-lg-10"><input type="text" id="title" name="title" class="form-control" placeholder="Last Name" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10"><input type="email" id="email" name="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="phone" name="phone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" id="skype" name="skype" phoneclass="form-control" placeholder="Your Skype Id" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea class="form-control" id="shortBio" name="shortBio" skypeplaceholder="Write Short Bio"></textarea></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal inmodal fade" id="myModalProjectFilter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Filters <button type="submit" class="btn btn-w-m btn-info"><i class="fa fa-send"> </i> Apply Filters</button> <button type="submit" class="btn btn-w-m btn-danger"><i class="fa fa-times"> </i> Clear</button></h4>
            </div>
            <div class="modal-body">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-12 control-label " style="text-align: left;">Status </label>
                        <div class="col-sm-12">
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Project Admin</label></i>
                            </div>
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Writer</label></i>
                            </div>
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Client Admin</label></i>
                            </div>
                            <div class="checkbox i-checks"><label> <input type="checkbox" value=""> <i></i> Client User</label></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label " style="text-align: left;padding-bottom:20px;"> Organization</label>
                        <div class="col-sm-9 file-multi-sel">
                            <div class="input-group">
                                <select data-placeholder="Select one or more" class="chosen-select" multiple style="width:350px !important;" tabindex="4">
                           <option value="ABC Client">ABC Client</option>
                           <option value="DEF Client">DEF Client</option>
                           <option value="IJK Client">IJK Client</option>
                        </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="viewEditProjectMd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    <div id="orderDetails"></div>
                </h4>
            </div>
            <div class="modal-body">
                <!--- Form users  -->
                <div class="p-user-select-boxes">
                    <form class="form-horizontal">
                        <h3>User Type: Project Admin</h3>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="First Name" required value="Daniel" disabled></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Last Name" required value="Sommers" disabled></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Organization</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Select or Type Organization" list="p-organization" value="PostCAP" disabled>
                                <datalist id="p-organization">
                           <option>Organization 1</option>
                           <option>Organization 2</option>
                           <option>etc.</option>
                        </datalist>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Title/Position</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Position" value="Admin" disabled></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Profile Picture</label>
                            <div class="col-lg-10 profile-pic-sel">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse… <input type="file" style="display: none;" multiple="">
                                </span>
                           </label>
                                    <input type="text" class="form-control" readonly="" value="daniel-profile.pic.jpg" disabled>
                                    <img src="css/design/img/placeholder-profile.jpg" alt="profile picture" class="profile-pic-pop">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10"><input type="email" placeholder="Email" class="form-control" value="daniel.john.sommer@gmail.com" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="inputPhone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" placeholder="Phone Number" value="844-335-0911" disabled></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Your Skype Id" required value="daniel.transcriber" disabled></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Write Short Bio" disabled>	Daniel Sommer has worked as both a professional singer and teacher of lyric diction, instructing at such institutions as Mannes. The New School for Music and the Manhattan School of Music.</textarea></div>
                        </div>
                        <div class="form-group">
                            <h3 class="col-lg-12 sub-grey-h3">Emergency Contact</h3>
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Name" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Relationship</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Relationship" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone number</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputPhone" maxlength="10" name="phone" size="10" title="" type="tel" value="" placeholder="Phone Number" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" placeholder="Email" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="button" class="btn btn-primary" id="editUser">Edit User</button>
                                <button type="button" class="btn btn-primary" id="saveUser">Save User</button>
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="editModalClientUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Update User</h4>
            </div>

            <div class="modal-body">
                <div class="p-user-select-boxes" name="p-user-type-4" id="p-user-type-4" style="display:block;">
                    <form class="form-horizontal">
                        <h3>{{userData.role.name}}</h3>
                        <!--<div class="col-sm-12">
                            <div class="row new-user-radio">-->
                        <!--<ul>
                                    <li>
                                        <input type="radio" id="f-option" ng-model="value" ng-change="selectUserType(value)" value="{{userData.role.name}}" name="selector" checked>
                                        <label for="f-option">Admin</label>
                                        <div class="check"></div>
                                    </li>
                                    <li>
                                        <input type="radio" id="s-option" ng-model="value" name="selector" ng-change="selectUserType(value)" value="individual_user">
                                        <label for="s-option">Individual User</label>
                                        <div class="check">
                                            <div class="inside"></div>
                                        </div>
                                    </li>
                                </ul>-->
                        <!--</div>-->
                        <!--new-user-radio-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" id="firstName" name="firstname" class="form-control" ng-model="userData.firstname" value="{{userData.firstname}}" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label class="col-lg-2 control-label">userType</label>
                            <div class="col-lg-10"><input type="text" id="userType" name="userType" value={{uc.usermodel.usertype}} class="form-control" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" id="lastName" name="lastname" ng-model="userData.lastname" value="{{userData.lastname}}" class="form-control" placeholder="Last Name" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Title*</label>
                            <div class="col-lg-10"><input type="text" id="title" name="title" ng-model="userData.title" value="{{userData.title}}" class="form-control" placeholder="Title" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10"><input type="email" id="email" name="email" value="{{userData.email}}" placeholder="Email" class="form-control" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="phone" value="{{userData.phone}}" ng-model="userData.phone" name="phone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input class="form-control" id="skype" value="{{userData.skype}}" ng-model="userData.skype" name="skype" maxlength="10" name="skype" required="required" size="10" title="" type="tel" value="" placeholder="skype Id"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea class="form-control" id="shortBio" name="shortBio" ng-model="userData.shortBio" skypeplaceholder="Write Short Bio">{{userData.shortBio}}</textarea></div>
                        </div>
                        <div class="form-group ">
                            <div class=" col-lg-offset-2 col-lg-12">
                                <button type="submit " ng-click="editUser(userData) " class="btn btn-primary ">Update</button>
                                <!--<button type="button " class="btn btn-white " data-dismiss="modal">Cancel</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="viewEditSuperUserAndPrjectAdmin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    <div id="orderDetails"></div>
                </h4>
            </div>
            <div class="modal-body">
                <!--- Form users  -->
                <div class="p-user-select-boxes">


                    <form class="form-horizontal">
                        <h3>User Type: Project Admin</h3>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="First Name" required value="{{userData.firstname}}" ng-model="userData.firstname"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Last Name" required value="{{userData.lastname}}" ng-model="userData.lastname"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Organization</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" placeholder="Select or Type Organization" value="{{userData.organization}}" ng-model="userData.organization" required>
                                <!--<datalist id="p-organization">
                           <option>Organization 1</option>
                           <option>Organization 2</option>
                           <option>etc.</option>
                        </datalist>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Title/Position</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Position" value="{{userData.title}}" ng-model="userData.title"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Profile Picture</label>
                            <div class="col-lg-10 profile-pic-sel">
                                <!--<input type="file" id="file1" file-model="userData.picData">-->

                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <!--<span class="btn btn-primary">
                                    Browse… <input type="file"  id="file1"  name="file" style="display: none;" multiple file-model="userData.picData" >
                                </span>-->
                                <span class="btn btn-primary">
                                    <!--<div class="button" ngf-select="upload($file)">Upload on file select</div>-->
                                     <!--<div class="button" ngf-select ng-model="userData.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select</div>-->
                                    Browse...<input type="file"  id="file1"  name="file" style="display: none;" multiple file-model="userData.picData" >
                                </span>
                           </label>
                                    <!--<img ngf-thumbnail="userData.file ">-->
                                    <input type="text" class="form-control" readonly="">
                                    <img ng-src="{{userData.profile_picture}}" alt="profile picture" class="profile-pic-pop postcap-profile-pic-shape">
                                    <!--<button type="submit" ng-click="submit(userData.file)">submit</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10"><input type="email" placeholder="Email" class="form-control" value="{{userData.email}}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="inputPhone" maxlength="10" name="phone" required="required" size="10" title="" ng-model="userData.phone" type="tel" placeholder="Phone Number" value="{{userData.phone}}"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" class="form-control" placeholder="Your Skype Id" required value="{{userData.skype}}" ng-model="userData.skype"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea class="form-control" placeholder="Write Short Bio" ng-model="userData.shortBio">	{{userData.shortBio}}</textarea></div>
                        </div>
                        <div class="form-group">
                            <h3 class="col-lg-12 sub-grey-h3">Emergency Contact</h3>
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" value="{{userData.emergencyContactName}}" placeholder="Name" ng-model="userData.emergencyContactName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Relationship</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" value="{{userData.emergencyContactRelationship}}" placeholder="Relationship" ng-model="userData.emergencyContactRelationship">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone number</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputPhone" value="{{userData.emergencyContactPhone}}" maxlength="10" name="phone" size="10" title="" type="tel" value="" placeholder="Phone Number" ng-model="userData.emergencyContactPhone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" placeholder="Email" class="form-control" ng-model="userData.emergencyContactEmail" value="{{userData.emergencyContactEmail}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="button" class="btn btn-primary" id="editUser" ng-click="editUser(userData) ">Update User</button>

                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <!--<form id="projectAdmin" method="put" action="/api/userUpdate" enctype="multipart/form-data" class="form-horizontal">
                        <h3>User Type: Project Admin</h3>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">First Name*</label>
                            <div class="col-lg-10"><input type="text" id="firstName" name="firstname" value="{{userData.firstname}}" class="form-control" placeholder="First Name" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Last Name*</label>
                            <div class="col-lg-10"><input type="text" id="lastName" name="lastname" value="{{userData.lastname}}" class="form-control" placeholder="Last Name" required></div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Title/Position</label>
                            <div class="col-lg-10"><input type="text" id="title" name="title" value="{{userData.title}}" class="form-control" placeholder="Position"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Profile Picture</label>
                            <div class="col-lg-10 profile-pic-sel">
                                <div class="input-group">
                                    <label class="input-group-btn">
            <span class="btn btn-primary">
            Browse… <input id="profilePicture" name="profilePicture"  ng-model="profilePictureData" type="file" style="display: none;" multiple="">
            </span>
            </label>
                                    <input type="text" class="form-control" ng-model="profilePictureData" readonly="">
                                    <img src="css/design/img/placeholder-profile.jpg" alt="profile picture" class="profile-pic-pop">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10"><input type="email" placeholder="Email" value="{{userData.email}}" id="email" name="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10"><input class="form-control" id="phone" maxlength="10" value="{{userData.phone}}" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Skype</label>
                            <div class="col-lg-10"><input type="text" id="skype" name="skype" value="{{userData.skype}}" class="form-control" placeholder="Your Skype Id" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Short Bio</label>
                            <div class="col-lg-10"> <textarea id="shortBio" name="shortBio" value="{{userData.shortBio}}" class="form-control" placeholder="Write Short Bio"></textarea></div>
                        </div>
                        <div class="form-group">
                            <h3 class="col-lg-12 sub-grey-h3">Emergency Contact</h3>
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" id="emergencyContactName" value="{{userData.emergencyContactName}}" name="emergencyContactName" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Relationship</label>
                            <div class="col-lg-10">
                                <input type="text" id="emergencyContactRelationship" value="{{userData.emergencyContactRelationship}}" name="emergencyContactRelationship" class="form-control" placeholder="Relationship">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Phone number</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="emergencyContactPhone" value="{{userData.emergencyContactPhone}}" maxlength="10" name="emergencyContactPhone" size="10" title="" type="tel" value="" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" placeholder="Email" id="emergencyContactEmail" value="{{userData.emergencyContactEmail}}" name="emergencyContactEmail" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" id="create" name="create" class="btn btn-primary">Update</button>
                                <button type="button" id="cancel" name="cancel" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>-->


                </div>
            </div>
        </div>
    </div>
</div>