<!--Top header Navigation area ends  -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{heading}} </h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <!-- main content area -->
        <div class="col-lg-12 magin9px">
            <div class="ibox float-e-margins">
                <div class="ibox-title dropdown">
                    <span class=" pull-left">
                        <label class="btn btn-primary btn-file">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                            <input type="file" style="display: none;" file>
                        </label>
                        <button class="btn btn-primary" ng-click="attachUploadData()">Attachment Upload</button>
                    </span>
                    <button type="button" ng-show="productData.data.workingUser._id == currentUser.data.user.id" class="btn btn-primary postcap_margin-left-5px"
                        ng-if="rowProperties.submit || currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"
                        data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-arrow-circle-o-right"></i> Submit Work</button>
                    <button type="button" class="btn btn-primary postcap_margin-left-5px" ng-if="rowProperties.lable1" data-toggle="modal" data-target="#labelModal">
                        <i class="fa fa-tags"></i> Label</button>
                    <button type="button" class="btn btn-primary" ng-if="rowProperties.report" data-toggle="modal" data-target="#reportIssue">
                        <i class="fa fa-exclamation-circle"></i> Report an Issue</button>
                    <button ng-show="currentUser.data.user.role == 'super_user' || currentUser.data.user.role == 'project_admin'" type="button"
                        class="btn btn-primary" id="testClick">
                        <i class="fa fa-exclamation-circle"></i> Applied user</button>
                    <a type="button" class="btn btn-primary" ng-if="currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"
                        ng-click="scrollTo('assignIc')">
                        <i class="fa fa-plus"></i> Assign IC(s)</a>
                    <button type="button" class="btn btn-primary" ng-show="productData.data.workingUser" ng-if="currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"
                        ng-click="unAssignWorkingUser()">
                        <i class="fa fa-minus"></i> UnAssign IC(s)</button>
                    <button type="button" class="btn btn-primary" ng-if="rowProperties.newProject">
                        <i class="fa fa-plus"></i> New Project</button>
                    <button type="button" class="btn btn-primary" ng-if="rowProperties.request" data-toggle="modal" data-target="#projectProfileModal">
                        <i class="fa fa-edit"></i> Request Revision</button>
                    <button type="button" ng- class="btn btn-primary" ng-if="currentUser.data.user.role == 'writer'" ng-disabled="productData.data.Applied"
                        ng-click="applyThisProject()">
                        <i class="fa fa-plus"></i> Apply</button>

                    <button type="button" class="btn btn-danger" ng-if="productData.data.workingUser||currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'  ">
                        <i class="fa fa-user"></i> Assigned to: {{productData.data.workingUser.firstname}} {{productData.data.workingUser.lastname}}

                    </button>

                    <button type="button" ng-if="currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"
                        ng-click="cancelProject()" class="btn btn-danger">
                        <i class="fa fa-times"></i>Cancel Project </button>

                    <button type="button" ng-click="getAllFile(productData.data)" ng-if="currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user' || currentUser.data.user.role == 'writer'"
                        class="btn btn-primary" data-toggle="modal" data-target="#OCserver">
                        <i class="fa fa-server"></i>OC Server </button>

                    <button type="button" ng-if="currentUser.data.user.role == 'super_user'" class="btn btn-danger" ng-click="deleteProject()">
                        <i class="fa fa-download"></i> Delete Project</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SendEditor">
                        <i class="fa fa-paper-plane"></i> Send to Editor</button>

                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="float:right;"> Download Attachment
                        <i class="caret"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="downloadAttachment('srt')">SRT</a>
                        </li>
                        <li>
                            <a ng-click="downloadAttachment('vtt')">VTT</a>
                        </li>
                        <li>
                            <a ng-click="downloadAttachment('sami')">SAMI</a>
                        </li>
                        <li>
                            <a ng-click="downloadAttachment('ttml')">TTML</a>
                        </li>
                    </ul>

                    <div class="ibox-tools">
                    </div>
                    <div ng-hide="loadProgressBar == '0' || loadProgressBar == '100'">
                        <div class="row">
                            <div class="col-md-12">
                                <uib-progressbar id="loaderProgress" value="loadProgressBar" class="progress-striped active">{{loadProgressBar}}</uib-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content project-profile-view">
                    <form class="form-horizontal">
                        <tr>
                            <div class="form-group" ng-if="rowProperties.projectName">
                                <label class="col-lg-2 control-label">Project Name: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.name}}</label>
                            </div>
                            <div class="hr-line-dashed" ng-if="rowProperties.client"></div>
                            <div class="form-group" ng-if="rowProperties.projectName">
                                <label class="col-lg-2 control-label">Project Url: </label>
                                <a style="margin-left: 755px" class="btn btn-primary " href="{{productData.data.projectUrl}}" target="_blank">
                                    Open Link</a>
                                <a class="col-lg-10 control-label text-left" href="{{youtubeIn.url}}">{{youtubeIn.url}}</a>

                                <button class="pull-right btn btn-primary" ng-hide="youtubeIn" ng-click="downloadVideo(productData.data.projectUrl)">
                                    <i class="fa fa-spinner fa-spin pull-right" ng-if="downloadLoader" aria-hidden="true"></i>Prepare link</button>
                                <a class="pull-right btn btn-primary" ng-if="youtubeIn" href="{{youtubeIn}}" download="w3logo">
                                    <i class="fa fa-download pull-right" aria-hidden="true"></i>Download</a>
                            </div>

                            <div class="hr-line-dashed" ng-if="rowProperties.user &&!userCondition"></div>
                            <div class="form-group" ng-if="rowProperties.user &&!userCondition">
                                <label class="col-lg-2 control-label">User: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.clientUser.firstname}} {{productData.data.clientUser.lastname}}</label>
                            </div>
                            <div class="hr-line-dashed" ng-if="productData.data.specialInstruction"></div>
                            <div class="form-group" ng-if="productData.data.specialInstruction">
                                <label class="col-lg-2 control-label">Special Instruction: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.specialInstruction}} </label>
                            </div>
                            <div class="hr-line-dashed" ng-if="rowProperties.user"></div>
                            <div class="form-group" ng-if="rowProperties.orderPlaced">
                                <label class="col-lg-2 control-label">Order Placed: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.createdAt | date:"MM/dd/yyyy"}}</label>
                            </div>
                            <div class="hr-line-dashed" ng-if="rowProperties.orderStatus"></div>
                            <div class="form-group" ng-if="rowProperties.orderStatus">
                                <label class="col-lg-2 control-label">Order Status: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.status}}</label>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Due Date </label>
                                <label class="col-lg-8 control-label text-left">{{productData.data.orderDue | date:"MM/dd/yyyy"}}</label>
                                <button ng-if="currentUser.data.user.role == 'super_user' || currentUser.data.user.role == 'project_admin'" class="btn btn-primary pull-right"
                                    data-toggle="modal" data-target="#updateDue">Update</button>
                            </div>
                            <div class="hr-line-dashed" ng-if="rowProperties.status"></div>
                            <div class="form-group" ng-if="rowProperties.status">
                                <label class="col-lg-2 control-label">Status </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.status}}</label>
                            </div>
                            <div class="hr-line-dashed" ng-if="userConditionWriter"></div>
                            <div class="form-group" ng-if="userConditionWriter ">
                                <label class="col-lg-2 control-label">Writer Price: </label>
                                <label class="col-lg-10 control-label text-left">
                                    {{productData.data.writerPrice[productData.data.writerPrice.length-1] | currency}}
                                </label>
                                <button ng-if="currentUser.data.user.role == 'super_user' || currentUser.data.user.role == 'project_admin'" class="btn btn-primary pull-right"
                                    data-toggle="modal" data-target="#updateWriter">Update</button>
                            </div>
                            <div class="hr-line-dashed" ng-if="userConditionWriter && invoiceCheck"></div>
                            <div class="form-group" ng-if="userConditionWriter && invoiceCheck">
                                <label class="col-lg-2 control-label">Total Cost: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.totalPrice[productData.data.totalPrice.length-1] | currency}}</label>
                                <button ng-if="currentUser.data.user.role == 'super_user' || currentUser.data.user.role == 'project_admin'" class="btn btn-primary pull-right"
                                    data-toggle="modal" data-target="#updateTotal">Update</button>
                            </div>

                            <div class="hr-line-dashed" ng-if="rowProperties.requestService"></div>
                            <div class="form-group" ng-if="rowProperties.requestService">
                                <label class="col-lg-2 control-label">Requested Service(s): </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.service.name}}</label>
                            </div>
                            <div class="hr-line-dashed" ng-if="rowProperties.mediaType"></div>
                            <div class="form-group" ng-if="rowProperties.mediaType">
                                <label class="col-lg-2 control-label">Media Type: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.mediaType}}</label>
                            </div>
                            <div class="hr-line-dashed" ng-if="rowProperties.duration"></div>
                            <div class="form-group" ng-if="rowProperties.duration">
                                <label class="col-lg-2 control-label">Duration: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.duration }}</label>
                            </div>
                            <div class="hr-line-dashed" ng-if="rowProperties.invoice"></div>
                            <!-- {{SubmitSrt}}
                            <p>test</p> -->
                            <div class="hr-line-dashed" ng-if="productData.data.projectSubmissionTime"></div>
                            <div class="form-group" ng-if="productData.data.projectSubmissionTime">
                                <label class="col-lg-2 control-label"> Submission time: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.projectSubmissionTime | date:'MM/dd/yy @ h:mma'}}</label>
                            </div>


                            <div class="hr-line-dashed" ng-if="rowProperties.paymentStatus"></div>
                            <div class="form-group" ng-if="rowProperties.paymentStatus">
                                <label class="col-lg-2 control-label">Payment Status: </label>
                                <label class="col-lg-10 control-label text-left">{{productData.data.paymentStats}}</label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Service Information: </label>
                                <label class="col-lg-10 control-label text-left">
                                    <h2 style="margin-top:0px;">
                                        <b> {{productData.data.service.name}}</b>
                                    </h2>

                                    <p ng-if="serviceSelected.addTranscript != null"> addTranscript :
                                        <span class="badge">{{serviceSelected.addTranscript}}</span>
                                    </p>
                                    <p ng-if="serviceSelected.addOpenCaption != null"> addOpenCaption :
                                        <span class="badge">{{serviceSelected.addOpenCaption}}</span>
                                    </p>
                                    <p ng-if="serviceSelected.accentSelected"> accentSelected :
                                        <span class="badge">{{serviceSelected.accentSelected.name}}</span>, price :
                                        <span class="badge">{{serviceSelected.accentSelected.price}}</span>
                                    </p>

                                    <p ng-if="serviceSelected.techniqueSelected"> techniqueSelected :
                                        <span class="badge">{{serviceSelected.techniqueSelected.name}}
                                        </span> , price :
                                        <span class="badge">{{serviceSelected.techniqueSelected.price}}</span>
                                    </p>

                                    <p ng-if="serviceSelected.turnaroundSelected"> turnaroundSelected :
                                        <span class="badge">{{serviceSelected.turnaroundSelected.name}}</span>, price :
                                        <span class="badge">{{serviceSelected.turnaroundSelected.price}}</span> , time :
                                        <span class="badge">{{serviceSelected.turnaroundSelected.price}}</span>
                                    </p>
                                    <!-- {{serviceSelected}} -->
                                    <div class="row" ng-if="serviceSelected.captionServiceSelected">
                                        <div class="col-md-3">
                                            Caption Service Selected :
                                        </div>

                                        <div class="col-md-4" ng-repeat="ser in serviceSelected.captionServiceSelected">
                                            <span class="badge">{{ser.name}}</span> , price :
                                            <span class="badge">{{ser.price}}</span>

                                        </div>


                                    </div>

                                    <p ng-if="serviceSelected.quality != null"> quality :
                                        <span class="badge">{{serviceSelected.quality}}</span>
                                    </p>

                                </label>
                            </div>

                            <div class="hr-line-dashed" ng-if="rowProperties.paymentStatus"></div>
                            <!-- <form> -->
                            <div class="input-group input-group-md">
                                <input type="text" class="form-control" ng-model="catpionlink" placeholder="Add Caption Link...">
                                <div class="input-group-btn">
                                    <button class="btn btn-success" ng-click="attachmentAdd(catpionlink)" type="submit">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </div>

                            </div>
                            <br>
                            <div ng-if="error" class="alert alert-danger">
                                {{error}}
                            </div>
                            <!-- </form> -->

                </div>
                </form>
            </div>
        </div>
        </label>
    </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="wrapper wrapper-content assigned-ic-s" id="" ng-if="productData.data.finalProjectSubmit.length > 0">
    <div class="hr-line-solid"></div>
    <h3>Submit Links</h3>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModalAttachment">
        <i class="fa fa-plus"></i> open</button>

</div>

<div class="wrapper wrapper-content assigned-ic-s" id="" ng-if="productData.data.attachment.length > 0">
    <div class="hr-line-solid"></div>
    <h3>Attachments Links</h3>
    <div class="row">
        <div style="width: 120px !important;" class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-repeat="links in productData.data.attachment">
            <div class="hovereffect">
                <img class="img-responsive" src="css/design/img/fil3.png" alt="fileIcon">
                <div class="overlay">

                    <a href="{{links.attachmentLink }}" class="info" target="_blank" download>
                        <i class="fa fa-download"></i>
                    </a>

                </div>
            </div>
            {{links.attachmentLink | projectName}}
        </div>
    </div>
</div>


<div class="wrapper wrapper-content assigned-ic-s" ng-if="currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"
    id="assignIc">
    <div class="hr-line-solid"></div>

    <h3>Available IC(s)</h3>

    <div ng-repeat="witer in WritersData">
        <div class=" project-profile-view col-lg-2">
            <button type="button" class="btn btn-primary btn-block" ng-click="assignJobToWriter(witer)">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Assign IC</button>
        </div>
        <div class=" project-profile-view col-lg-5">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Writer: </label>

                    <label class="col-lg-8 control-label text-left">
                        <span class="chip">{{witer.firstname}} {{witer.lastname}}</span>
                    </label>
                </div>
            </form>
        </div>

        <div class=" project-profile-view col-lg-5">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Service: </label>

                    <label class="col-lg-10 control-label text-left">
                        <!-- <span class="chip" ng-if="witer.skills.length == 0"></span>  -->
                        <span class="chip" ng-if="witer.skills.length > 1" ng-repeat="skill in witer.skills">{{skill}}</span>
                    </label>
                </div>
            </form>
        </div>
        <div class="col-lg-12 hr-line-dashed"></div>
    </div>

</div>
</div>
</div>
</div>
</div>

<div class="wrapper wrapper-content assigned-ic-s" ng-if="rowProperties.writer">
    <div class="hr-line-solid"></div>
    <h3>Submitted Files</h3>
    <div class=" project-profile-view col-lg-6">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-12 control-label text-left">

                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Writer-caption.doc
                                    <br>
                                    <small>Added: June 16, 2017</small>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_writer.doc
                                    <br>
                                    <small>Added: June 7, 2017</small>
                                </div>
                            </a>
                        </div>

                    </div>
                </label>
            </div>
        </form>
    </div>


</div>
</div>
</div>
</div>
</div>



</div>

<!--modal-->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Project Submision</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Message">Message:</label>
                    <textarea class="form-control" rows="5" id="Message" ng-model="message"></textarea>
                </div>
                <div class="form-group">
                    <input type="file" file multiple />

                    <div ng-hide="progressBarFinalSubmit == '0' || progressBarFinalSubmit == '100'">
                        <div class="row">
                            <div class="col-md-12">
                                <uib-progressbar id="progressBarFinalSubmit" value="progressBarFinalSubmit" class="progress-striped active">{{progressBarFinalSubmit}}</uib-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-click="projectSubmitMessageSubmit(message)" ng-disabled='file == null'>Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--end first modal-->

<div class="modal fade" id="submitModalAttachment" role="dialog">
    <div style="width: 80% !important;" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Submit Link</h4>
            </div>
            <div class="modal-body">
                <div class="hr-line-solid"></div>
                <h3>Attachments Links</h3>
                <!-- <div class="row"> -->
                <div class="row" ng-repeat="link in productData.data.finalProjectSubmit track by $index">
                    <div class="col-md-2">
                        <div class="hovereffect">
                            <img class="img-responsive" src="css/design/img/fil3.png" alt="fileIcon">
                            <div class="overlay">

                                <a href="{{link}}" class="info" download>
                                    <i class="fa fa-download"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        {{link| projectName}}
                    </div>

                </div>
                <!-- </div> -->
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="testClickModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal inmodal fade" id="reportIssue" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Report an Issue</h4>
            </div>
            <div class="modal-body">

                <form method="get" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-12 control-label " style="text-align: left;">Issue</label>

                        <div class="col-sm-12">
                            <div class=" ">
                                <label>
                                    <input type="checkbox" value="" ng-model="issue.media">
                                    <i></i> Issue with Media</label>
                                </i>
                            </div>
                            <div class="">
                                <label>
                                    <input type="checkbox" value="" ng-model="issue.delivery">
                                    <i></i> Issue with Delivery</label>
                                </i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Additional Message</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" placeholder="" ng-model="issue.message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10 text-right">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="submitRequest" ng-click="issueReport(issue)">Submit</button>
                        </div>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>
<!--- Modal close  -->

<div class="modal inmodal fade" id="appliedUser" ng-init="getAppliedUser(productData.data.job)" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Applied user</h4>
            </div>
            <div class="modal-body">
                <!--{{appliedNames}}-->
                <form class="form-horizontal">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Accept</th>
                                <!--<th>Reject</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="name in appliedNames">
                                <td>{{name.firstname}}</td>
                                <td>{{name.lastname}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-if="!applied" ng-click="acceptJobAndRejectByAdmin(productData.data.job,name._id,'accept')">Accept</button>
                                </td>
                                <td>
                                    <button ng-if="applied" class="btn btn-primary">Applied</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>



                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10 text-right">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<!--updated cost modal-->

<div class="modal inmodal fade" id="updateCost" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Update Cost</h4>
            </div>
            <div class="modal-body">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Total Cost</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Add updated cost if any" ng-model="updatedPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10 text-right">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="submitRequest" ng-click="updatedCostProject(updatedPrice)">Submit &amp; Go</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="updateWriter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Update Writer Price</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Writer Price</label>
                    <input type="text" ng-model="writerPrice" placeholder="Enter Writer Price">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary pull-right" id="submitRequest" ng-click="updateWriterPrice(writerPrice)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="updateTotal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Update Total Price</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Total Price</label>
                    <input type="text" ng-model="totalPrice" placeholder="Enter total Price">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary pull-right" id="submitRequest" ng-click="updatedCostProject(totalPrice)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="updateDue" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Update Order Due</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Order Due :</label>
                    <div>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="date" ng-model="productData.data.orderDue" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary pull-right" id="submitRequest" ng-click="updateOrderDue(productData.data.orderDue)">Submit </button>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal inmodal fade" id="OCserver" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Oc Server</h4>
            </div>
            <div style="padding: 40px;margin: 30px;" class="modal-body card">
                <p>Project Link : {{productData.data.projectUrl}}</p>
                <hr>
                <div>

                    <select class="form-control m-b " style="margin-top:11px;" name="time" ng-model="body.attachment" required>
                        <option value="">-----------------------Select Attachment------------------------</option>
                        <!-- <option ng-repeat="attachment in productData.data.attachment" value="{{attachment}}">{{attachment.attachmentLink}}</option> -->
                        {{SubmitSrt}}

                        <option ng-repeat="attachment in SubmitSrt track by $index" value="{{attachment}}">{{attachment}}</option>
                    </select>
                </div>
                <div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="option" value="over_video"> Over Video (Maintain Original Size)
                        </label>
                        <label>
                            <input type="radio" ng-model="option" value="beneath_video"> Beneath Video (Resize Video and place captions underneath)
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary " ng-disabled="!option && !body.attachment" ng-click="convertVideo(productData.data.projectUrl,body,productData.data.clientUser.email,option)">
                        Convert Video</button>
                </div>
                <div ng-if="message" uib-alert ng-class="'alert-' + (alert.type || 'danger')">{{message}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="labelModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" ng-init="getusersLabel()">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Add Label</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">

                        <form class="form-vertical">

                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" ng-model="labelName" name="" placeholder="Enter Label Name">
                                    <button class="btn btn-primary btn-xs" ng-click="addNewlabel(productData.data._id)">Add label</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 labelModal">
                                    <form class="form-inline">
                                        <div class="form-group" ng-repeat="label in userLabels">
                                            <input type="radio" ng-model="$parent.value" value="{{label}}"> {{label.name}}
                                            <button type="button" class="btn btn-link" ng-click="removelabelbyUser(label._id)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10 text-right">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" id="submitRequest" ng-click="addlabelToproject(value,productData.data._id)">Submit </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="SendEditor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Send to Editor</h4>
            </div>
            <div style="padding: 40px;margin: 30px;" class="modal-body card">
                <span ng-if="productData.data.mediaType == 'video'" ng-hide="youtubeIn">Click 'Prepare Link' to prepare the external media file before sending to Editor
                    <br />
                    <button class="btn btn-primary" ng-hide="youtubeIn" ng-click="downloadVideo(productData.data.projectUrl)">
                        <i class="fa fa-spinner fa-spin pull-right" ng-if="downloadLoader" aria-hidden="true"></i>Prepare link
                    </button>
                </span>
                <p ng-if="productData.data.mediaType != 'video' || youtubeIn">You are about to send the file to Caption Editor. Are you sure to proceed?</p>
                <hr>
                <p>By checking the below checkbox, media will be processed using Speech to Text feature</p>
                <div>
                    <div>
                        <label>
                            <input type="checkbox" id="chkWatson"> Allow Speech to Text Processing?
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-if="productData.data.mediaType != 'video'" ng-click="sendtoEditor()" ng-disabled="processLoader">
                        Send</button>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-if="youtubeIn" ng-click="UploadToEditor()" ng-disabled="processLoader">
                        Upload</button>
                </div>
                <span ng-if="processLoader">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Please wait...</span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>