<div id="wrapper">
    <div id="page-wrapper-new" class="gray-bg">
        <!--{{hideDetails}}-->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Mail Detail</h2>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <a class="btn btn-block btn-primary compose-mail" ui-sref="dashboard.composeMail">Compose Mail</a>
                                <div class="space-25"></div>
                                <h5>Folders</h5>
                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li>
                                        <a ui-sref="dashboard.mail">
                                            <i class="fa fa-inbox "></i> Inbox </a>
                                    </li>
                                    <li>
                                        <a ui-sref="dashboard.sentmail">
                                            <i class="fa fa-envelope-o"></i> Send Mail</a>
                                    </li>
                                    <li>
                                        <a ui-sref="dashboard.importantmail">
                                            <i class="fa fa-certificate"></i> Important</a>
                                    </li>
                                    <li>
                                        <a ui-sref="dashboard.draftmail">
                                            <i class="fa fa-file-text-o"></i> Drafts </a>
                                    </li>

                                    <li>
                                        <a ui-sref="dashboard.trashMail">
                                            <i class="fa fa-trash-o"></i> Trash</a>
                                    </li>
                                    <li>
                                        <a ui-sref="dashboard.addressBook">
                                            <i class="fa fa-address-book"></i> Address Book</a>
                                    </li>
                                </ul>
                                <!-- <h5>Categories</h5>
                                <ul class="category-list" style="padding: 0">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-circle text-navy"></i> Work </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-circle text-danger"></i> Documents</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-circle text-primary"></i> Social</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-circle text-info"></i> Advertising</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-circle text-warning"></i> Clients</a>
                                    </li>
                                </ul>

                                <h5 class="tag-title">Labels</h5>
                                <ul class="tag-list" style="padding: 0">
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Family</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Work</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Home</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Children</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Holidays</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Music</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Photography</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa fa-tag"></i> Film</a>
                                    </li>
                                </ul> -->
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9 animated fadeInRight">
                    <div class="mail-box-header" id="printContent">
                        <div class="pull-right tooltip-demo">
                            <!--<a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>-->
                            <!--<a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>-->
                            <!--<a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a>-->
                        </div>
                        <h2>
                            View Message
                        </h2>
                        <div class="mail-tools tooltip-demo m-t-md">
                            <h3>
                                <span class="font-noraml">Subject: </span>{{mailInfo.subject}}
                            </h3>
                            <h5 ng-if="inbox == true">
                                <span class="pull-right font-noraml">{{mailInfo.createdAt | date}}</span>
                                <span class="font-noraml">From: </span>{{mailInfo.from.email}}
                            </h5>
                            <h5 ng-if="inbox == false">
                                <span class="pull-right font-noraml">{{mailInfo.createdAt | date}}</span>
                                <p ng-repeat="email in mailInfo.to">
                                    <span class="font-noraml">To: </span> {{email.email}} </p>
                            </h5>
                        </div>
                    </div>
                    <div class="mail-box">


                        <div class="mail-body">
                            {{mailInfo.body}}

                        </div>

                        <div class="mail-body" >

                            <div ng-if="mailInfo.relatedEmails.length">
                                <script type="text/ng-template" id="group-template.html">
          <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
              <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
          </div>
        </script>

                                <div>
                                    <script type="text/ng-template" id="group-template.html">
                  <div class="panel-heading">
                    <h4 class="panel-title" style="color:#fa39c3">
                      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                        
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" uib-collapse="!isOpen">
                    <div class="panel-body" style="text-align: right" ng-transclude></div>
                  </div>
                </script>

                                    <uib-accordion close-others="oneAtATime" ng-repeat="related in mailInfo.relatedEmails track by $index">

                                        <div uib-accordion-group class="panel-default" >
                                            <uib-accordion-heading>
                                                    {{related.subject}}
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </uib-accordion-heading>
                                            <div class="text-left">
                                                    <div class="well ">
                                                        <b class=" ">Message :</b> {{related.body}}</div>
                                                </div>
        
                                                <div class="text-left">
                                                    <div class="well ">
                                                        <b class=" ">To :</b> {{related.to[0].email}}</div>
                                                </div>
                                                <div class="text-left">
                                                    <div class="well ">
                                                        <b class=" ">From :</b> {{related.from.email}}</div>
                                                </div>
                                                <span class="label label-info">{{related.createdAt | date}}</span>
                                        </div>

                                        
                                    </uib-accordion>


                                </div>


                            </div>


                            <div class="mail-body text-right tooltip-demo">
                                <div ng-repeat="links in mailInfo.attachment">
                                    <div class="hovereffect">
                                        <img class="img-responsive mail_attach" src="css/design/img/fil3.png" alt="fileIcon">
                                        <div class="overlay">
                                            <a href="{{links}}" class="info " download>
                                                <i class="fa fa-download"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-sm btn-white" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Reply
                                </button>

                                <div class="collapse" id="collapseExample">
                                    <div class="mail-box">

                                        <div class="mail-body">

                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">To:</label>

                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" value="{{mailInfo.from.email}}">
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="mail-text h-200">
                                            <textarea class="form-control" ng-model="replyMailBody" id="exampleTextarea" rows="8"></textarea>
                                            </textarea>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="mail-body text-right tooltip-demo">
                                            <button ng-disabled="disable" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send" ng-click="replyMail(replyMailBody,mailInfo.from.email,mailInfo._id,mailInfo.subject)">
                                                <i class="fa fa-reply"></i>send</button>
                                        </div>
                                    </div>
                                </div>



                                <button class="btn btn-sm btn-white" type="button" data-toggle="collapse" data-target="#collapseExampleForward" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Forward
                                </button>

                                <div class="collapse" id="collapseExampleForward">
                                    <div class="mail-box">

                                        <div class="mail-body">

                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">To:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="forwardMailId">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="mail-text h-200">
                                            <textarea class="form-control" id="exampleTextarea" rows="8">{{mailInfo.body}}</textarea>
                                            </textarea>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="mail-body text-right tooltip-demo">
                                            <button class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send" ng-click="forwardMail(forwardMailId,mailInfo._id,mailInfo.subject,mailInfo.body)">
                                                <i class="fa fa-reply"></i>send</button>
                                        </div>
                                    </div>
                                </div>
                                <!--<button title="" data-placement="top" id="printBtn" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button>-->

                                <button title="" data-placement="top" id="printBtn" ng-click="printDiv('printContent')" data-toggle="tooltip" type="button"
                                    data-original-title="Print" class="btn btn-sm btn-white">
                                    <i class="fa fa-print"></i> Print</button>
                                <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white" ng-click="moveTotrash(mailInfo._id,paramsData.type)">
                                    <i class="fa fa-trash-o"></i> Remove</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>