
   <h1>Select Services</h1>
   <div class="step-content">
      <div class="text-center m-t-md">
         <h2>2nd Step: Select Services</h2>
         <div class="services-select-btn">
            <button type="button" class="btn btn-w-m btn-success service-btn" value="transcription" ng-click="selectTask('transcription')"><i class="fa fa-exchange"></i> Transcription ($2.00/min)</button>
            <button type="button" class="btn btn-w-m btn-success service-btn" value="captioning" ng-click="selectTask('captioning')"><i class="fa fa-comments"> </i> Captioning ($2.00/min)</button>
            <button type="button" class="btn btn-w-m btn-success service-btn" value="transcription-alignment" ng-click="selectTask('transcription-alignment')"><i class="fa fa-retweet"> </i> Transcription Alignment ($2.00/min)</button>
            <button type="button" class="btn btn-w-m btn-success service-btn" value="translation" ng-click="selectTask('translation')"><i class="fa fa-edit"> </i>Translation to STP Transcription ($2.00/min)</button>
         </div>
         <div ng-if="uc.transcription" class="services-select-boxes" name="service-box" id="transcription">
            <h3>Transcription</h3>
            <form id="transcriptionForm" method="get" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-5 control-label">Accent</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].accentSelected" required>
                        <option value="">----Select Accent----</option>
                        <option ng-repeat="acc in uc.accents" value="{{acc._id}}">{{acc.name}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Technical</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].techniqueSelected" required>
                        <option value="">----Select Technical----</option>
                        <option ng-repeat="tech in uc.techniques" value="{{tech}}">{{tech.name}} ({{tech.price}})</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Audio Quality</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="audio-quality" ng-model="uc.projectModel[uc.projectModel.currentService].quality" required>
                        <option value="">----Select Quality----</option>
                        <option value="good">Good</option>
                        <option value="poor">Poor</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Turnaround</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="turnaround" ng-model="uc.projectModel[uc.projectModel.currentService].turnaroundSelected" required>
                        <option value="">----Select Turnaround----</option>
                        <option ng-repeat="turn in uc.turnarounds" value="{{turn}}">{{turn.name}} ({{turn.price}})</option>
                     </select>
                  </div>
               </div>
               <!--ng-click="tostep(3)"-->
               <div class="text-right">
                  <button ng-click="tostep(1)" class="btn btn-primary">Back</button>
                  <button ng-click="tostep(3)"  class="btn btn-primary">Next</button>
               </div>
            </form>
         </div>
         <!-- captioning -->
         <div ng-if="uc.captioning" class="services-select-boxes" name="service-box-2" id="captioning">
            <h3>Captioning</h3>
            <form id="captioningForm" method="get" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-5 control-label">Accent</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].accentSelected" required>
                        <option value="">----Select Accent----</option>
                        <option ng-repeat="acc in uc.accents" value="{{acc}}">{{acc.name}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Technical</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].techniqueSelected" required>
                        <option value="">----Select Technical----</option>
                        <option ng-repeat="tech in uc.techniques" value="{{tech}}">{{tech.name}} ({{tech.price}})</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Audio Quality</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="audio-quality" ng-model="uc.projectModel[uc.projectModel.currentService].quality" required>
                        <option value="">----Select Quality----</option>
                        <option value="good">Good</option>
                        <option value="poor">Poor</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-7 text-left">
                     <div class="checkbox i-checks">
                        <label class="padding-0" ng-click="calculateCheckValue()">
                        <input id="captioningAddTranscipt" type="checkbox" name="captioningAddTranscipt">Add Transcript (+$2.00/min)
                        </label>
                        <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-question-circle"></i>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-7 text-left">
                     <div class="checkbox i-checks">
                        <label class="padding-0" ng-click="calculateCheckValue()">
                        <input  id="captioningOpenCaption" type="checkbox" id="addCaption" name="captioningAddTranscipt" > <i></i> Open Caption Video File (+$2.00/min)</label>
                        <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-question-circle"></i>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Turnaround</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].turnaroundSelected"  required>
                        <option value="">----Select Turnaround----</option>
                        <option ng-repeat="turn in uc.turnarounds" value="{{turn}}">{{turn.name}} ({{turn.price}})</option>
                     </select>
                  </div>
               </div>
               <div class="text-right">
                  <button ng-click="tostep(1)" class="btn btn-primary">Back</button>
                  <button ng-click="tostep(3)" class="btn btn-primary">Next</button>
               </div>
            </form>
         </div>
         <!-- captioning end  -->
         <!-- Transcription Alignment-->
         <div ng-if="uc['transcription-alignment']" class="services-select-boxes" name="service-box-3" id="transcription-alignment">
            <h3>Transcription Alignment</h3>
            <form id="transcription-alignmentForm" method="get" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-5 control-label">Accent</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].accentSelected" required>
                        <option value="">----Select Accent----</option>
                        <option ng-repeat="acc in uc.accents" value="{{acc}}">{{acc.name}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Transcription Quality</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" ng-model="uc.projectModel[uc.projectModel.currentService].quality" name="account" required>
                        <option value="">----Select Quality----</option>
                        <option value="edited">Edited</option>
                        <option value="unedited">Unedited</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Turnaround</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].turnaroundSelected" required>
                        <option value="">----Select Turnaround----</option>
                        <option ng-repeat="turn in uc.turnarounds" value="{{turn}}">{{turn.name}} ({{turn.price}})</option>
                     </select>
                  </div>
               </div>
               <div class="text-right">
                  <button ng-click="tostep(1)" class="btn btn-primary">Back</button>
                  <button ng-click="tostep(3)" class="btn btn-primary">Next</button>
               </div>
            </form>
         </div>
         <!-- Transcription Alignment-->
         <!-- Translation-->
         <div ng-if="uc.translation" class="services-select-boxes" name="service-box-4" id="translation">
            <h3>Speech to Text Transcription</h3>
            <form id="translationForm" method="get" class="form-horizontal">
               <div class="form-group">
                  <label class="col-sm-5 control-label">Accent </label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].accentSelected" required>
                        <option value="">----Select Accent----</option>
                        <option ng-repeat="acc in uc.accents" value="{{acc}}">{{acc.name}}</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-5 control-label">Turnaround</label>
                  <div class="col-sm-7">
                     <select class="form-control m-b" name="usertype" ng-model="uc.projectModel[uc.projectModel.currentService].turnaroundSelected" required>
                        <option value="">----Select Turnaround----</option>
                        <option ng-repeat="turn in uc.turnarounds" value="{{turn}}">{{turn.name}} ({{turn.price}})</option>
                     </select>
                  </div>
               </div>
               <div class="text-right">
                  <button ng-click="tostep(1)" class="btn btn-primary">Back</button>
                  <button ng-click="tostep(3)" class="btn btn-primary">Next</button>
               </div>
            </form>
         </div>
      </div>
   </div>
