<h1>
    Media Selection</h1>
<div class="step-content">
    <div class="text-center m-t-md">
        <p>
            Select up to ??? media files from your local computer, cloud storage or linked media account (ex. YouTube, Vimeo, Wistia, Blackboard, D2L). Limited to ?? GB per file.
        </p>
        <!--<div class="input-group">-->
        <!--<label class="col-4" for="spinner">Video File:</label> <div class="col-8"><input type="file" name="video" class="custom-file-input" required></div>-->
        <label class="input-group-btn">
         <span class="btn btn-w-m btn-success">
            <i class="fa fa-desktop" > </i>File(s) from Computer<input id="project" name="file" type="file"  style="display: none;" multiple="" file>
         </span>
         </label>
        <!--</div>-->
        <!--<button type="button" class="btn btn-w-m btn-success" ng-click="upload()"><i class="fa fa-desktop" > </i> File(s) from Computer</button>-->
        <!--<button type="button" class="btn btn-w-m btn-success" data-toggle="modal" data-target="#addLinkModal" ng-disabled="true"><i class="fa fa-dropbox"> </i> File(s) from Dropbox</button>-->
        <button type="button" class="btn btn-w-m btn-success" data-toggle="modal" data-target="#addLinkModal"> File(s) from External Social Links(Youtube, Vimeo, GoogleDrive , Wistia)</button>
        <!--<button type="button" class="btn btn-w-m btn-success" data-toggle="modal" data-target="#addLinkModal" ng-disabled="true"><i class="fa fa-link"> </i> Media from linked account (Video or LMS)</button>-->
        <button type="button" class="btn btn-w-m btn-success" ui-sref="dashboard.linked-account"><i class="fa fa-link"> </i> Video Link Accounts (Youtube, Vimeo, GoogleDrive)</button>
        <div class="files-list">
            <div ng-if="uc.projectModel.upload.project1.name" class="files-uploaded">
                <div class="progress-text">
                    <span>{{uc.projectModel.upload.project1.name}}</span>
                    <small class="pull-right">{{uc.projectModel.upload.project1.fileUploadStatus}}</small>
                </div>
                <div class="progress progress-small">
                    <div id="fileUploadStatusproject1" style="width: 0%;" class="progress-bar"></div>
                </div>
                <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
               </button>
            </div>
            <div ng-if="uc.projectModel.upload.project2.name" class="files-uploaded">
                <div class="progress-text">
                    <span>{{uc.projectModel.upload.project2.name}}</span>
                    <small class="pull-right">{{uc.projectModel.upload.project2.fileUploadStatus}}</small>
                </div>
                <div class="progress progress-small">
                    <div id="fileUploadStatusproject2" style="width: 0%;" class="progress-bar"></div>
                </div>
                <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
               </button>
            </div>
            <div ng-if="uc.projectModel.upload.project3.name" class="files-uploaded">
                <div class="progress-text">
                    <span>{{uc.projectModel.upload.project3.name}}</span>
                    <small class="pull-right">{{uc.projectModel.upload.project3.fileUploadStatus}}</small>
                </div>
                <div class="progress progress-small">
                    <div id="fileUploadStatusproject3" style="width: 0%;" class="progress-bar"></div>
                </div>
                <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
               </button>
            </div>
            <!--<div class="files-uploaded">
               <div class="progress-text">
                   <span>File2.wav</span>
                   <small class="pull-right">700 MB/2 GB</small>
               </div>
               <div class="progress progress-small">
                   <div style="width: 37%;" class="progress-bar"></div>
               </div>
               <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
               </button>
               </div>
               <div class="files-uploaded">
               <div class="progress-text">
                   <span>File3.mp3</span>
                   <small class="pull-right">250 MB/2 GB</small>
               </div>
               <div class="progress progress-small">
                   <div style="width: 12.5%;" class="progress-bar"></div>
               </div>
               <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
               </button>
               </div>
               <div class="files-uploaded">
               <div class="progress-text">
                   <span>File4.avi</span>
                   <small class="pull-right">2 GB/2 GB</small>
               </div>
               <div class="progress progress-small">
                   <div style="width: 100%;" class="progress-bar"></div>
               </div>
               <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i>
               </button>
               </button>
               </div>-->
            <!--{{uc.paramsData}}-->
            <div class="text-right">
                <a type="button" ng-click="upload()" class="btn btn-primary">Upload<i class="fa fa-spinner fa-spin" ng-if="loader" aria-hidden="true"></i></a>
                <button ng-show="uc.projectModel.projects.length" ng-click="tostep(2)" class="btn btn-primary">Next</button>
                <!--<button ng-show="uc.paramsData.type == 'social'" ng-click="tostep(2)" class="btn btn-primary">Next</button>-->
            </div>
        </div>
        <!--<label class="col-4" for="spinner">Video File:</label> <div class="col-8"><input type="file" name="video" class="custom-file-input" required></div>-->
        <!--<form id="fileUploadForm" method="post" enctype="multipart/form-data">
            <!<input type="file" name="file" id="file" value="dataFile" required="">-->
        <!--<input name="file" type="file" file />
            <a type="button" ng-click="upload()" class="btn btn-primary">Upload</a>  
            </form>-->
        <!--<form id= "projectUpload" method="POST" action="/api/projectUpload" enctype="multipart/form-data">
            <div class="form-group"><label class="col-lg-2 control-label"></label>
                <div class="col-lg-10">
                    <div class="input-group">-->
        <!--<label class="col-4" for="spinner">Video File:</label> <div class="col-8"><input type="file" name="video" class="custom-file-input" required></div>-->
        <!--<label class="input-group-btn">
            <span class="btn btn-primary">
                Browse… <input id="project" type="file" name="project" style="display: none;" multiple="" ng-model="uc.usermodel.trtrt">
            </span>
            </label>
            <input type="text" id="projectname" ng-model="uc.usermodel.trtrt" class="form-control" >
            </div>
            </div>
            </div>		-->
        <!--<button type="submit" class="btn btn-primary">Upload</button>  -->
        <!--</form> -->
    </div>
</div>