<h1>
    Review &amp; Submit</h1>
<div class="step-content">
    <div class="text-center m-t-md">
        <p>
            Please review the files, selected services, estimated costs, and expected delivery date. Need to make an adjustment? Go back to make any necessary changes.
        </p>
        <p>Select your method of payment. Your account will be charged after delivery.</p>
        <div class="table-responsive m-t step-3-serv-tb">
            <table class="table invoice-table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Service</th>
                        <th>Minutes</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in uc.projectModel.projects">
                        <td><strong>{{project.name}}</strong></td>
                        <td>{{uc.projectModel.currentService}}</td>
                        <td>{{project.stringLength}}</td>
                        <td>${{project.totalPrice}}</td>
                    </tr>
                    <!--<tr>
                     <td><strong>Estimated Total</strong></td>
                     <td></td>
                     <td></td>
                     <td>not Set</td>
                     </tr>-->
                </tbody>
            </table>
        </div>
        <!-- /table-responsive -->
        <div class="form-group">
            <label class="col-sm-2 control-label icon-payment-new-frm"><i class="fa fa-credit-card"></i> <i class="fa fa-paypal"></i></label>
            <div class="col-sm-10">
                <select class="form-control m-b" name="sel-payment" onchange='CheckPaymentMethod(this.value);'>
                  <option value="select-payment-method">Select Payment Method</option>
                  <option value="payment-method-1">Payment Method 1</option>
                  <option value="payment-method-2">Payment Method 2</option>
                  <option value="payment-method-3">Payment Method 3</option>
                  <option value="add-payment-method">+ Add Payment Method</option>
               </select>
            </div>
        </div>
        <div class="payment-select-boxes" name="payment-method-1" id="payment-method-1" style="display:none;">
            <h3>Payment Method 1</h3>
        </div>
        <div class="payment-select-boxes" name="payment-method-2" id="payment-method-2" style="display:none;">
            <h3>Payment Method 2</h3>
        </div>
        <div class="payment-select-boxes" name="payment-method-3" id="payment-method-3" style="display:none;">
            <h3>Payment Method 3</h3>
        </div>
        <div class="payment-select-boxes" name="add-payment-method" id="add-payment-method" style="display:none;">
            <h3>Add Payment Method</h3>
            <button type="button" class="btn btn-w-m btn-primary service-btn" value="transcription"><i class="fa fa-plus"> </i> Add New Payment Method</button>
        </div>
        <table class="table invoice-total">
            <tbody>
                <tr>
                    <td><strong>Expected Delivery Date :</strong></td>
                    <td>22 May 2017</td>
                </tr>
                <tr>
                    <td><strong>Authorized Total :</strong></td>
                    <td>$1446.00</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="checkbox i-checks">
                            <label>
                        <input type="checkbox" value=""> <i></i> I agree to terms & policies</label>
                            </i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button ng-click="tostep(2)" ng-if="!makepayment" class="btn btn-primary">back</button>
            <button class="btn btn-primary" ng-if="!makepayment" ng-click="uc.submitProject()">Authorize & Submit</button>
            <a class="btn btn-danger " ng-if="makepayment" type="button " href="/api/paymentIntegrationQuickbooks"><i class=" "></i> <span class="bold ">Make Payment</span></a>
        </div>
    </div>
</div>