<div id="wrapper" ng-init="initUser()">

    <div id="page-wrapper-new" class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Linked Accounts</h2>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <toaster-container></toaster-container>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Associate a 3rd-party video platform or LMS with you PostCAP account, and get round-trip captioning, subtitle, and translation services on all or select videos in your library.</h3>
                </div>
                <div class="col-lg-12">
                    <ul class="unstyled linked-acc-list">
                        <li>
                            <a href="/api/linkAccountTest" class="btn btn-danger" ng-if="!currentUser.data.user.driveToken">Connect Google Drive</a>
                            <!--<button class="btn btn-danger" ng-if="currentUser.data.user.driveToken" ng-click="getVideosForSocial('drive')"> Get Drive Data</button>-->

                            <uib-accordion close-others="oneAtATime" ng-if="currentUser.data.user.driveToken" ng-click="getVideosForSocial()">
                                <div uib-accordion-group class="panel-default" is-open="status.open">
                                    <uib-accordion-heading>
                                        Get Drive Data <span class="label label-primary pull-right">Get List</span>
                                    </uib-accordion-heading>
                                    <i class="fa fa-spinner fa-spin pull-right" ng-if="loader" aria-hidden="true"></i>
                                    <a href="/api/linkAccountTest" ng-if="!videoData " class="btn btn-danger">Connect Google Drive</a>
                                    <div class="row">
                                        <div ng-repeat="video in videoData" class="col-md-4">
                                            <!--{{video.videoMediaMetadata}}-->
                                            <img ng-src="{{video.thumbnailLink}}" class="img-thumbnail" ng-click="nextStep(video.videoMediaMetadata.durationMillis,video.webViewLink,video.size,video.name)">
                                            <p>{{video.name}}</p>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button ng-show="uc.projectModel.projects.length" class="btn btn-primary" ng-click="projectType(uc.projectModel.projects)">Next</button>
                                    </div>
                                </div>
                            </uib-accordion>
                        </li>
                        <li>
                            <a href="/api/linkYoutube" class="btn btn-youtube btn-danger" ng-if="!currentUser.data.user.youTubeToken"><i class=""></i> <span class="bold">Link a Youtube Account</span></a>
                            <!--<button class="btn btn-youtube btn-danger" type="button" ng-if="currentUser.data.user.youTubeToken" ng-click="getYoutubeData()"><i class=""></i> <span class="bold">Get Youtube Video</span></button>-->
                            <uib-accordion close-others="oneAtATime" ng-if="currentUser.data.user.youTubeToken" ng-click="getYoutubeData()">
                                <div uib-accordion-group class="panel-default" is-open="status.open">
                                    <uib-accordion-heading>
                                        Get Youtube Data <span class="label label-primary pull-right">Get List</span>
                                        <!--Get Youtube Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>-->
                                    </uib-accordion-heading>
                                    <i class="fa fa-spinner fa-spin pull-right" ng-if="loader" aria-hidden="true"></i>
                                    <a href="/api/linkYoutube" ng-if="!youtubeData" class="btn btn-danger">Connect Youtube</a>
                                    <div class="row">
                                        <div ng-repeat="video in youtubeData.items" class="col-md-4">
                                            <img ng-src="{{video.snippet.thumbnails.medium.url}}" class="img-thumbnail" ng-click="youtubeNextStep(video.youtubedlYoutube.duration,video.youtubedlYoutube.webpage_url,video.youtubedlYoutube.fulltitle)">
                                            <p>{{video.snippet.title}}</p>
                                        </div>
                                    </div>
                                    <div class=" text-right ">
                                        <button ng-show="uc.projectModel.projects.length " class="btn btn-primary " ng-click="projectType(uc.projectModel.projects) ">Next</button>
                                    </div>
                                </div>
                            </uib-accordion>
                        </li>
                        <!--/api/linkVimeo-->
                        <li>
                            <a class="btn btn-vimeo btn-danger " ng-if="!currentUser.data.user.VimeoToken" type="button " href="/api/linkVimeo "><i class=" "></i> <span class="bold ">Link a Vimeo Account</span></a>
                            <uib-accordion close-others="oneAtATime " ng-if="currentUser.data.user.VimeoToken" ng-click="getVimeoDetail() ">
                                <div uib-accordion-group class="panel-default " is-open="status.open ">
                                    <uib-accordion-heading>
                                        Get Vimeo Data <span class="label label-primary pull-right">Get List</span>
                                    </uib-accordion-heading>
                                    <i class="fa fa-spinner fa-spin pull-right" ng-if="loader" aria-hidden="true"></i>
                                    <a href="/api/linkVimeo " ng-if="!vimeoData " class="btn btn-danger ">Connect Vimeo</a>
                                    <div class="row ">
                                        <div ng-repeat="vimeo in vimeoData.data " class="col-md-4 ">
                                            <img ng-src="{{vimeo.pictures.sizes[1].link}} " class="img-thumbnail " ng-click="vimeoNextStep(vimeo.duration,vimeo.link,vimeo.youtubedlVimeo.filesize,vimeo.name,vimeo.youtubedlVimeo.ext) ">
                                            <p>{{vimeo.name}}</p>
                                        </div>
                                    </div>
                                    <div class="text-right ">
                                        <button ng-show="uc.projectModel.projects.length " class="btn btn-primary " ng-click="projectType(uc.projectModel.projects) ">Next</button>
                                    </div>
                                </div>
                            </uib-accordion>
                        </li>

                        <li>
                            <a class="btn btn-wistia btn-danger " type="button " href="/api/paymentIntegrationQuickbooks"><i class=" "></i> <span class="bold ">Link a Wistia Account</span></a>
                        </li>
                        <!--<li>
                            <a href="javascript:;" ng-if="!dataAtDropbox" class="btn btn-wistia btn-danger " drop-box-picker on-dropbox-success="onDropboxSuccess(files)" on-dropbox-cancel="onDropboxCancel()">Choose from Dropbox</a>

                            <div ng-repeat="dropboxVideo in dataAtDropbox" class="col-md-12" ng-if="dataAtDropbox">
                               
                                <img ng-src="{{dropboxVideo.thumbnailLink}}" ng-if="!loader" class="img-thumbnail" ng-click="nextStepDropBox(dropboxVideo.name,dropboxVideo.link,dropboxVideo.bytes,duration)">
                                <p>
                                    {{dropboxVideo.name}}
                                </p>
                               
                                <i class="fa fa-spinner fa-spin pull-right" ng-if="loader" aria-hidden="true"></i>
                                <video id="videoId" name="test" class="drpoboxVideo" ng-hide="autoHideVideo" controls muted autoplay="" name="media"><source src="{{dropboxVideo.link}}" type="video/mp4" ></video>

                            </div>
                           
                            <button ng-show="uc.projectModel.projects.length " class="btn btn-primary pull-right" ng-click="projectType(uc.projectModel.projects) ">Next</button>
                            
                        </li>-->
                        <!--<li>
                            <a class="btn btn-wistia btn-danger " type="button " href="/api/wistiaConnect "><i class=" "></i> <span class="bold ">Link a Wistia Account</span></a>
                        </li>
                        <li><button class="btn btn-blackboard btn-success " type="button "><i class=" "></i> <span class="bold ">Link a BlackBoard Account</span></button></li>
                        <li><button class="btn btn-d2 btn-success " type="button "><i class=" "></i> <span class="bold ">Link a D2L Account</span></button></li>-->
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>