<!--Top header Navigation area ends  ---->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>New Project</h2>
    </div>
    <div class="col-lg-4">
        <toaster-container></toaster-container>
    </div>
</div>
<!-- main content area -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <!-- Steps Section wrap-->
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-content steps-new-project">
                    <div id="wizard">
                        <!--Step 1-->
                        <div ng-show="uc.step1" ng-include="'views/templates/project/step1.html'"></div>
                        <!--Step 1 end-->
                        <!--Step 2-->
                        <div ng-show="uc.step2" ng-include="'views/templates/project/step2.html'"></div>
                        <!-- Translation end->
                        <!Step 2 ends-->
                        <!--Step 3-->
                        <div ng-show="uc.step3" ng-include="'views/templates/project/step3.html'"></div>
                        <!--Step 3 ends-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Steps Section wrap end-->
        <div class="col-lg-5">
            <div class="jumbotron">
                <h1>Steps</h1>
                <p>Information on Process, Company, Services</p>
                <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a>
                </p>
            </div>
            <div class="jumbotron">
                <h1>Cost?</h1>
                <p>Exact Instant Cost Calculator</p>
                <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addLinkModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>
                    <form id="saveVideo">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">videoLink</label>
                            <div class="col-lg-10"><input type="text" ng-model="uc.videoLink" class="form-control" required></div>
                        </div>
                    </form>
                </p>

            </div>
            <div class="modal-footer">
                <i class="fa fa-spinner fa-spin pull-left" ng-if="newLoader" aria-hidden="true"></i>
                <button type="button" class="btn btn-default" ng-click="uc.submitLink(uc.videoLink)">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>