<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img src="css/design/img/logo.png" alt="logo-postcap" class="img-responsive" />
                </div>
                <div class="logo-element">
                    <img src="css/design/img/logo-small.png" alt="logo-postcap" />
                </div>
            </li>
            <li class="active">



                <li><a ng-click="project = !project">My Project </a></li>
                <div ng-show="project">
                    <ul id="projectlist" class="nav nav-second-level collapse in">
                        <li ng-show="currentUser.data.user.role == 'client_admin' || currentUser.data.user.role == 'super_user'  "><a ng-click="clientAdmin = !clientAdmin">Client Admin </a></li>

                        <div ng-show="clientAdmin">
                            <ul id="wusers-panel" class="nav nav-third-level collapse in">
                                <li><a ui-sref="dashboard.clientAdmin">Project List</a></li>
                                <!--<li><a href="index.html">Notification Settings</a></li>-->
                        </div>
                        <li ng-show="currentUser.data.user.role == 'project_admin' ||  currentUser.data.user.role == 'super_user'"><a ng-click="projectAdmin = !projectAdmin">Project Admin</a></li>
                        <div ng-show="projectAdmin">
                            <ul id="wusers-panel" class="nav nav-third-level collapse in">
                                <li><a ui-sref="dashboard.projectAdmin">Project List</a></li>
                                <!--<li><a href="index.html">Notification Settings</a></li>-->
                            </ul>

            </li>
            </div>
            <li ng-show="currentUser.data.user.role == 'writer' || currentUser.data.user.role == 'super_user'"><a ng-click="writer = !writer">Writer</a></li>
            <div ng-show="writer">
                <ul id="wusers-panel" class="nav nav-third-level collapse in">
                    <li><a ui-sref="dashboard.overview">Project List</a></li>
                    <!--<li ><a href="index.html">Notification Settings</a></li>-->
                </ul>

                </li>
            </div>

            <li ng-show="currentUser.data.user.role == 'project_user' "><a ng-click="project_user = !project_user">Project User</a></li>
            <div ng-show="project_user">
                <ul id="wusers-panel" class="nav nav-third-level collapse in">
                    <li><a ui-sref="dashboard.overview">Project List</a></li>
                    <!--<li ><a href="index.html">Notification Settings</a></li>-->
                </ul>

                </li>
            </div>
            <li ng-show=" currentUser.data.user.role == 'client_user' "><a ng-click="client_user = !client_user">Client User </a></li>

            <div ng-show="client_user">
                <ul id="wusers-panel" class="nav nav-third-level collapse in">
                    <li ng-show="currentUser.data.user.role == 'client_user' "><a ui-sref="dashboard.overview">Project List</a></li>
                    <!--<li ><a href="index.html">Notification Settings</a></li>-->
            </div>



            <!--<li ><a ui-sref="dashboard.projectProfileAdmin">Project Profile Admin</a></li>-->
            </div>

            <li>
                <a href="JavaScript:Void(0);"><i class="fa fa-diamond"></i> <span class="nav-label">Complete</span> <span class="label label-primary pull-right">23</span></a>
            </li>
            <li>
                <a href="JavaScript:Void(0);"><i class="fa fa-diamond"></i> <span class="nav-label">In Progress</span> <span class="label label-primary pull-right">11</span></a>
            </li>
            <li>
                <a href="JavaScript:Void(0);"><i class="fa fa-diamond"></i> <span class="nav-label">Cancelled</span> <span class="label label-primary pull-right">2</span></a>
            </li>
            <!--<li>
                <li><a ng-click="file = !file">Download &amp; Export </a> </li>
                <div ng-show="file">

                    <ul id="file-panel" class="nav nav-second-level">
                        <li><a ui-sref="dashboard.savedFile">Saved File</a></li>
                    </ul>
            </li>
            </div>-->
            <li>
                <li><a ng-click="label = !label ; getusersLabel();">Lables</a> </li>
                <div ng-show="label">
                    <ul id="label-panel" class="nav nav-second-level" ng-repeat="label in userLabels">
                        <li><a ui-sref="dashboard.lable({labelId: label._id})">{{label.name}}</a></li>
                    </ul>
            </li>
            </div>
            <li>
                <li><a ng-click="mail = !mail" ui-sref="dashboard.mail">MailBox </a> </li>
                <div ng-show="mail">
            </li>
            </div>
            <li>
                <li ng-hide="currentUser.data.user.role == 'writer' || currentUser.data.user.role == 'client_user' ||  currentUser.data.user.role == 'project_user' "><a ng-click="userpanal = !userpanal">User Panel </a></li>
                <div ng-show="userpanal">
                    <ul id="users-panel" class="nav nav-second-level">
                        <!--<li ><a ui-sref="dashboard.clientUserpanel">Client Users</a></li>-->
                        <li ng-show="currentUser.data.user.role == 'client_admin' || currentUser.data.user.role == 'super_user' "><a ui-sref="dashboard.clientUser">Client Users</a></li>
                        <li ng-show="currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"><a ui-sref="dashboard.projectUser">Project Users</a></li>
                        <!--<li ><a ui-sref="dashboard.project-profile-user">Project-Profile-User</a></li>-->
                    </ul>
            </li>
            </div>
            <li>
                <li ng-show="currentUser.data.user.role == 'writer' || currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"><a ng-click="job = !job">Job Board </a></li>
                <div ng-show="job">
                    <ul id="users-panel" class="nav nav-second-level">

                        <li><a ui-sref="dashboard.jobBoard">Job Board(writer view)</a></li>
                        <!--<li ><a ui-sref="dashboard.jobBoardProfileWirter">Job Board project profile writer</a></li>-->
                        <!--<li ng-show="currentUser.data.user.role == 'project_admin' || currentUser.data.user.role == 'super_user'"><a ui-sref="dashboard.jobBoardUnassigned">Unassigned Project profile project Admin</a></li>-->
                    </ul>
            </li>
            </div>
            <li>
                <li><a ng-click="mail = !mail" ng-show="currentUser.data.user.role == 'super_user'" ui-sref="dashboard.stopServer">Server Configuration</a> </li>
                <div>
            </li>
            </div>

            <!--<li>
            
                 <li ng-show = "currentUser.data.user.role == 'writer'"><a ng-click="showDiv = !showDiv">Writer </a></li>
               <div ng-show="showDiv" >
                 <ul id="wusers-panel" class="nav nav-second-level">-->
            <!--<li ><a ui-sref="dashboard.clientUserpanel">Client Users</a></li>-->
            <!--<li ><a ui-sref="dashboard.writer">Writer</a></li>-->
            <!--<li ><a ui-sref="dashboard.project-profile-writer">Project Profile Writer</a></li>-->
            <!--</ul>
            </li>-->
    </div>
    </ul>
    </div>
</nav>