<div class="row border-bottom" ng-controller="newProjectController">
    <nav class="navbar navbar-static-top black-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm welcome-message">Welcome {{currentUser.data.user.firstname}} {{currentUser.data.user.lastname}} - {{currentUser.data.user.role}} <span>
                        <!--<img alt="image" class="img-circle" style="width: 51px;height: 51px;" src="{{currentUser.data.user.profile_picture}}" />-->
                        <img alt="image" class="img-circle" style="width: 51px;height: 51px;" ng-src="{{currentUser.data.user.profile_picture}}" />
                            </span></span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="css/design/img/a7.jpg">
                            </a>
                            <div>
                                <small class="pull-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="css/design/img/a4.jpg">
                            </a>
                            <div>
                                <small class="pull-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="profile.html" class="pull-left">
                                <img alt="image" class="img-circle" src="css/design/img/profile.jpg">
                            </a>
                            <div>
                                <small class="pull-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="mailbox.html">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" ng-click="getNotification()">
                    <i class="fa fa-bell"></i> <span class="label label-primary">{{notification.data.length}}</span>
                </a>

                <!--@akash change-->
                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-repeat="noticatify in notification.data">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> {{noticatify.type}}
                            <span class=" text-muted small pull-right">{{noticatify.createdAt | date:'yyyy-MM-dd'}} </span>
                        </div>
                        <div class="postcap_margin_10">
                            {{noticatify.text}}
                        </div>

                        <div class="notifcation-height " style="height: 30px;" ng-hide="noticatify.type == 'Mail created.'">
                            <!--<i class="fa fa-envelope fa-fw"></i>-->
                            <button type="button" class="btn btn-primary btn-sm pull-left" ng-click="acceptJob(noticatify)">
                                        <span><i class="fa fa-check"></i></span>
                                        Accept</button>
                            <!--<i class="fa fa-angle-right"></i>-->
                            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="rejectJob(noticatify)">
                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>    
                                    Reject</button>
                        </div>
                        <p class="divider"> </p>
                    </li>
                    <!--<li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Project Name
                                    <span class="pull-right text-muted small"> From Akash</span>
                                </div>
                            </a>
                        </li>-->
                    <!--<li>
                            
                                <div class= "notifcation-height" style = "height: 30px;">
                                    <a href="#"><button type="button" class="btn btn-success btn-sm pull-left">Accept</button></a>
                                    <a href="#"><button type="button" class="btn btn-success btn-sm pull-right">Reject</button></a>
                                </div>
                              
                        </li>-->
                    <!--<li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>-->
                </ul>
                <!--<ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>-->
            </li>
            <li>
                <a ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
    <div class="second-nav">
        <div class="navbar-header">
            <a class="btn btn-primary " type="button" ui-sref="dashboard.overview"><i class="fa fa-briefcase"></i>&nbsp;My Projects</a>
            <button class="btn btn-primary " ui-sref="dashboard.newProject({type: 'manual'})" type="button"><i class="fa fa-plus-square"></i>&nbsp;New Project</button></div>
        <ul class="nav align-right">
            <li>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Billing <i class="fa fa-credit-card"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">My Settings <i class="fa fa-cog"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm"><i class="fa fa-question-circle"></i> </button>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>