<form id="clientAdmin" method="post" action="/api/user" enctype="multipart/form-data" class="form-horizontal">
   <h3>User Type: Client Admin</h3>
   <div class="form-group">
      <label class="col-lg-2 control-label">Contact Name*</label>
      <div class="col-lg-5"><input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required></div>
      <div class="col-lg-5"><input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required></div>
   </div>
   <div class="form-group" style="display: none">
      <label class="col-lg-2 control-label">User Type</label>
      <div class="col-lg-10"><input type="text" id="userType" name="userType" value={{uc.usermodel.usertype}} class="form-control" placeholder="Last Name" required></div>
   </div>
   <div class="form-group">
      <label class="col-sm-2 control-label">Billing</label>
      <div class="col-sm-10">
         <select id="billing" name="billing" class="form-control m-b" name="exp-label">
            <option value="perProject">Per Project</option>
            <option value="weekly">Weekly</option>
            <option value="byWeekly">By Weekly</option>
            <option value="monthly">Monthly</option>
         </select>
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Profile Picture</label>
      <div class="col-lg-10 profile-pic-sel">
         <div class="input-group">
            <label class="input-group-btn">
            <span class="btn btn-primary">
            Browse… <input id="profilePicture" name="profilePicture" type="file" style="display: none;" ng-model="profilePicture" multiple="">
            </span>
            </label>
            <input type="text"  ng-model="profilePicture" class="form-control" readonly="">
            <img src="css/design/img/placeholder-profile.jpg" alt="profile picture" class="profile-pic-pop">
         </div>
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10"><input type="email" placeholder="Email" id="email" name="email" class="form-control"> 
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-10"><input class="form-control" id="phone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Skype</label>
      <div class="col-lg-10"><input type="text" id="skype" name="skype" class="form-control" placeholder="Your Skype Id" required></div>
   </div>
   <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
         <button type="submit"  id="contactNameCreate" name="contactNameCreate" class="btn btn-primary">Create</button>
         <button type="button"   id="contactNameCancel" name="contactNameCancel" class="btn btn-white" data-dismiss="modal">Cancel</button>
      </div>
   </div>
</form>