<form id="clientUser" method="post" action="/api/user" enctype="multipart/form-data" class="form-horizontal">
   <h3>User Type: Client User</h3>
   <div class="form-group">
      <label class="col-lg-2 control-label">First Name*</label>
      <div class="col-lg-10"><input type="text" id="firstName" name="firstname" class="form-control" placeholder="First Name" required></div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Last Name*</label>
      <div class="col-lg-10"><input type="text" id="lastName" name="lastname" class="form-control" placeholder="Last Name" required></div>
   </div>
   <div class="form-group" style="display: none">
      <label class="col-lg-2 control-label">User Type</label>
      <div class="col-lg-10"><input type="text" id="userType" name="userType" value={{uc.usermodel.usertype}} class="form-control" placeholder="Last Name" required></div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Organization*</label>
      <div class="col-lg-10">
         <input type="text" id="clientUserOrganization" name="clientUserOrganization" class="form-control" placeholder="Select or Type Organization" list="p-organization" required />
         <datalist id="p-organization">
            <option>Organization 1</option>
            <option>Organization 2</option>
            <option>etc.</option>
         </datalist>
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Title/Position</label>
      <div class="col-lg-10"><input type="text" id="clientUserTitle" name="clientUserTitle" class="form-control" placeholder="Position"></div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Profile Picture</label>
      <div class="col-lg-10 profile-pic-sel">
         <div class="input-group">
            <label class="input-group-btn">
            <span class="btn btn-primary">
                Browse… <input type="file" type="file" id="profilePicture" name="profilePicture" style="display: none;" ng-model="profilePicture" multiple="">
            </span>
            </label>
            <input type="text" ng-model="profilePicture" class="form-control" readonly="">
            <img src="css/design/img/placeholder-profile.jpg" alt="profile picture" class="profile-pic-pop">
         </div>
      </div>
   </div>
  <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10"><input type="email" placeholder="Email" id="email" name="email" class="form-control"> 
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-10"><input class="form-control" id="phone" maxlength="10" name="phone" required="required" size="10" title="" type="tel" value="" placeholder="Phone Number"></div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Skype</label>
      <div class="col-lg-10"><input type="text" id="skype" name="skype" class="form-control" placeholder="Your Skype Id" required></div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Short Bio</label>
      <div class="col-lg-10">  <textarea id="shortBio" name="shortBio" class="form-control" placeholder="Write Short Bio"></textarea></div>
   </div>
   <div class="form-group">
      <label class="col-lg-2 control-label">Special instructions/<br>requests</label>
      <div class="col-lg-10">  <textarea class="form-control" id="instructions" name="instructions" placeholder="Write any special instructions/requests"></textarea>
      </div>
   </div>
   <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
         <button type="submit" id="clientUserCreate" name="clientUserCreate" class="btn btn-primary">Create</button>
         <button type="button" id="clientUserCancel" name="clientUserCancel"class="btn btn-white" data-dismiss="modal">Cancel</button>
      </div>
   </div>
</form>