<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.postcaponline.com/css/design/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .middle {
            max-width: 600px;
            z-index: 100;
            padding-left: 15px !important;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: 175px;
            padding-top: 40px;
            font-family: GothamLight !important;
            font-size: 14px;
            background-color: rgba(0, 0, 0, 0.7) !important;
            font-size: 13px !important;
            color: #1D1C14 !important;
        }

        a {
            color: antiquewhite !important;
        }

        .fontclass {
            font-family: GothamLight;
            font-size: 14px;
            color: white;
        }

        .head {
            text-align: center !important;
        }
    </style>
</head>

<body class="fontclass">

    <div class="container middle text-center ">
        <img style="padding-top: 15px;
		padding-right: 10px;
		padding-bottom: 15px;
        padding-left: 0px;
        width: 22%
		" src="https://www.postcaponline.com/css/design/img/logo.png" alt="image">
        <% if (userType == 'writer') { %>
            <div class="col-md-12 ">
                <p class="text-justify fontclass">
                    Hi ,
                    <%= user %> ,

                </p>
                <p class="text-justify fontclass ">
                    You have notifications from the PostCAP Project Platform. You can view them below or
                    <a style="color:navajowhite !important;" href="https://www.postcaponline.com" target="_blank">directly on the platform.</a>
                </p>
                <% for(var i=0; i < content.length; i++) { %>

                    <% if (content[i].text == 'New Project on Job Board') { %>
                        <div class="text-justify fontclass">
                            <strong class="text-justify fontclass">
                                <%=content[i].text %>
                            </strong>
                            <p class="text-justify fontclass">
                                <% for(var j=0; j < content[i].subject.length; j++) {%>
                                    <hr>
                                    <%=content[i].subject[j] %>
                                        <br>
                                        <hr>
                                        <% } %>
                            </p>
                        </div>
                        <hr>
                        <% } %>

                            <% if (content[i].text == 'Project Assigned') { %>
                                <div class="text-justify fontclass">
                                    <strong class="text-justify fontclass">
                                        <%=content[i].text %>
                                    </strong>
                                    <p class="text-justify fontclass">
                                        <% for(var j=0; j < content[i].subject.length; j++) {%>
                                            <hr>
                                            <%=content[i].subject[j] %>
                                                <br>
                                                <hr>
                                                <% } %>
                                    </p>
                                </div>
                                <hr>
                                <% } %>

                                    <% if (content[i].text == 'New Message Received') { %>
                                        <div class="text-justify fontclass">
                                            <strong class="text-justify fontclass">
                                                <%=content[i].text %>
                                            </strong>
                                            <p class="text-justify fontclass">
                                                <% for(var j=0; j < content[i].subject.length; j++) {%>
                                                    <hr>
                                                    <%=content[i].subject[j] %>
                                                        <br>
                                                        <hr>
                                                        <% } %>
                                            </p>
                                        </div>
                                        <hr>
                                        <% } %>


                                            <% } %>
            </div>

            <% } %>
                <% if (userType == 'super_user'|| userType=='project_admin') { %>

                    <div class="col-md-12 ">
                        <p class="text-justify fontclass">
                            <%= user %> ,
                        </p>
                        <p class="text-justify fontclass ">
                            You have notifications from the PostCAP Project Platform. You can view them below or
                            <a style="color:navajowhite !important;" href="https://www.postcaponline.com" target="_blank">directly on the platform.</a>
                        </p>
                        <% for(var i=0; i < content.length; i++) { %>
                            <!-- text -->


                            <% if (content[i].text == 'New Project on Job Board') { %>
                                <div class="text-justify fontclass">
                                    <strong class="text-justify fontclass">
                                        <%=content[i].text %>
                                    </strong>
                                    <p class="text-justify fontclass">
                                        <% for(var j=0; j < content[i].subject.length; j++) {%>
                                            <hr>
                                            <%=content[i].subject[j] %>
                                                <br>
                                                <hr>
                                                <% } %>
                                    </p>
                                </div>
                                <hr>
                                <% } %>

                                    <% if (content[i].text == 'Issue Submission') { %>
                                        <div class="text-justify fontclass">
                                            <strong class="text-justify fontclass">
                                                <%=content[i].text %>
                                            </strong>
                                            <p class="text-justify fontclass">
                                                <% for(var j=0; j < content[i].subject.length; j++) {%>
                                                    <hr>
                                                    <%=content[i].subject[j] %>
                                                        <br>
                                                        <hr>
                                                        <% } %>
                                            </p>

                                        </div>
                                        <hr>
                                        <% } %>

                                            <% if (content[i].text == 'Project Submission') { %>
                                                <div class="text-justify fontclass">
                                                    <strong class="text-justify fontclass">
                                                        <%=content[i].text %>
                                                    </strong>
                                                    <p class="text-justify fontclass">
                                                        <% for(var j=0; j < content[i].subject.length; j++) {%>
                                                            <hr>
                                                            <%=content[i].subject[j] %>
                                                                <br>
                                                                <hr>
                                                                <% } %>
                                                    </p>
                                                </div>
                                                <hr>
                                                <% } %>

                                                    <% if (content[i].text == 'Writer Applied to Job') { %>
                                                        <div class="text-justify fontclass">
                                                            <strong class="text-justify fontclass">
                                                                <%=content[i].text %>
                                                            </strong>
                                                            <p class="text-justify fontclass">
                                                                <% for(var j=0; j < content[i].subject.length; j++) {%>
                                                                    <hr>
                                                                    <%=content[i].subject[j] %>
                                                                        <% } %>
                                                                            <br>
                                                                            <hr>
                                                            </p>

                                                        </div>
                                                        <hr>
                                                        <% } %>


                                                            <% if (content[i].text == 'Writer Unapplied to Job') { %>
                                                                <div class="text-justify fontclass">
                                                                    <strong class="text-justify fontclass">
                                                                        <%=content[i].text %>
                                                                    </strong>
                                                                    <p class="text-justify fontclass">
                                                                        <% for(var j=0; j < content[i].subject.length; j++) {%>
                                                                            <hr>
                                                                            <%=content[i].subject[j] %>
                                                                                <br>
                                                                                <hr>
                                                                                <% } %>
                                                                    </p>

                                                                </div>
                                                                <hr>
                                                                <% } %>

                                                                    <% if (content[i].text == 'New Message Received') { %>
                                                                        <div class="text-justify fontclass">
                                                                            <strong class="text-justify fontclass">
                                                                                <%=content[i].text %>
                                                                            </strong>
                                                                            <p class="text-justify fontclass">
                                                                                <% for(var j=0; j < content[i].subject.length; j++) {%>
                                                                                    <hr>
                                                                                    <%=content[i].subject[j] %>
                                                                                        <br>
                                                                                        <hr>
                                                                                        <% } %>
                                                                            </p>

                                                                        </div>
                                                                        <hr>
                                                                        <% } %>

                                                                            <% } %>


                    </div>
                    <% } %>
    </div>
</body>

</html>