
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PostCAP | Confirm</title>
    <link rel="icon" type="image/x-icon" href="css/design/img/favicon.png">
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/design/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/design/css/animate.css" rel="stylesheet">
    <link href="css/design/css/style.css" rel="stylesheet">

    <script>
        window.onload = function() {
            $('#alert').hide()
        }


        function validatePassword() {
            var password = $("#password").val();
            var confirm_password = $("#confirmPassword").val();
            if (password != confirm_password) {
                $('#alert').show('slow')
                return false
            } else {
                $('#alert').hide('slow')
            }
        }



        function passwordConfirm() {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://www.postcaponline.com/api/user/setPassword",
                // "url": "http://localhost:3000/api/user/setPassword",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "x-access-token": "",
                    "cache-control": "no-cache",
                },
                "data": {
                    password: "",
                    confirmPassword:"",
                    secret:""
                }
            }
            var password = document.getElementById("password").value;
            var usersecret = document.getElementById("secret").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            settings.data.password = password;
            settings.data.confirmPassword = confirmPassword;
            settings.data.secret = usersecret;
            settings.headers['x-access-token'] = usersecret;
            $.ajax(settings).done(function(response) {
                console.log('res',response)
                if(!response.success){
                    document.getElementById("response").innerHTML = response.err;
                }else{
                    window.location = "https://postcaponline.com";
                }
                
            });

        }
    </script>

</head>

<body class="gray-bg login-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><img src="css/design/img/logo.png"/ alt="logo"></h1>
            </div>
			<div class="col-md-12">
                <!-- CONFIRM PASSWORD STARTS HERE -->

                <input style="display: none" id="secret" type="secret" name="secret" value=<%=secret%>> </input>
                <h3>CONFIRM PASSWORD</h3>
                <b id="response" ></b>
				<form  id="passwordForm">
				<input type="password" class="input-lg form-control" name="password" id="password" placeholder="Password" required>
				<input type="password" class="input-lg form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
				<div class="row">
				<div class="col-sm-12">
				</div>
				</div>
				<button type="button"  class="col-xs-12 btn btn-primary btn-load btn-lg"      onclick="passwordConfirm()">Save</button>
				</form>            
			</div>
            <p class="m-t"> <small>© Copyright <script>document.write(new Date().getFullYear());</script>&nbsp;|&nbsp;PostCAP LLC&nbsp;</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="libs/jquery.min.js"></script>
    <script src="css/design/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="css/design/js/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
