<!-- views/.ejs -->
<!doctype html>
<html>

<head>
    <title>Congratulations</title>
    <script src="libs/jquery.min.js"></script>
    <script src="css/design/js/bootstrap.min.js"></script>

    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
    <h4>Congratulations</h4>

    Please confirm your email and set password!!

    <a href="http://ec2-18-217-104-62.us-east-2.compute.amazonaws.com/login">
        <-- Go back</a>

</body>

</html>