<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
    <title>PostCAP Project Platform</title>
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/design/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="css/design/img/favicon.png">
    <link href="css/design/css/animate.css" rel="stylesheet">
    <link href="css/design/css/style.css" rel="stylesheet">
    <script src="css/design/js/jquery-2.1.1.js"></script>
    <script src="css/design/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body class="gray-bg login-bg">

    <body class="gray-bg login-bg">

        <div class="passwordBox animated fadeInDown">
            <div class="row">
                <% if (message.length > 0) { %>
                    <div style="background-color: #213c21;" class="well well-sm">
                        <%= message %>
                    </div>
                    <% } %>
                        <div class="col-md-12">
                            <div class="">


                                <div class="row">

                                    <div class="col-lg-12">

                                        <% if (!isPresent) { %>
                                            <h2 class="font-bold">Forgot password</h2>
                                            <p>
                                                Enter your email address and your new password.
                                            </p>
                                            <form class="" method="post" role="form" action="/forgot">
                                                <div class="form-group">
                                                    <input style="color:initial !important;" type="email" name="email" class="form-control" placeholder="Email address" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary block full-width m-b">Set new password</button>
                                            </form>
                                            <% } %>

                                                <% if (isPresent) { %>
                                                    <P> Check your Email.</P>
                                                    <!-- <form action="" method="post" role="form" action="/forgot">
                                                <div class="form-group">
                                                        <input style="display:none !important;" type="email" name="email"  class="form-control" 
                                                        value=<%=email%>>
                                                        
                                                </div>

                                                    <div class="form-group">
                                                           <input style="color:initial !important;" type="password" class="form-control" placeholder="New password" name="password" required="">
                                                    </div>
       
                                                    <div class="form-group">
                                                           <input style="color:initial !important;" type="password" class="form-control" placeholder="Confirm Password" name="confirm" required="">
                                                    </div>

                                                    <button type="submit" class="btn btn-primary block full-width m-b">Set new password</button>
                   
                                               </form> -->
                                                    <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    Copyright PostCAP LLC
                </div>
                <div class="col-md-6 text-right">
                    <small>© 2017</small>
                </div>
            </div>
        </div>
    </body>

</html>