<!-- views/.ejs -->
<!doctype html>
<html>

<head>
    <title>PostCAP Project Platform</title>

    <!-- ======================================local js scripts End===================================-->


    <!-- ======================================css files start===================================-->
    <link rel="icon" type="image/x-icon" href="css/design/img/favicon.png">
    <link href="libs/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
    <link href="css/jquery.dropdown.css" rel="stylesheet">
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/design/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/design/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="css/design/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/design/css/dist/fastselect.min.css"> -->
    <link href="css/design/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/design/css/style.css" rel="stylesheet">
    <!-- <link href="css/design/css/plugins/summernote/summernote.css" rel="stylesheet"> -->
    <!-- <link href="css/design/css/plugins/summernote/summernote-bs3.css" rel="stylesheet"> -->
    <link href="css/design/css/animate.css" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css"> -->


    <!-- ======================================css files End===================================-->


    <!-- <base href="/"> -->
</head>

<body ng-app="app" ng-cloak>

    <div ui-view data-ng-controller="appController as vm" ng-init="vm.initUser(<%= currentUser %>)">
    </div>

    <!-- ======================================scripts start===================================-->
    <script src="libs/socket.io-client/socket.io.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/underscore/underscore-min.js">
    </script>
    <script src="libs/angular-async-series/dist/angular-async-series.min.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery.dropdown.min.js"></script>
    <!--<script src="libs/aws-sdk/dist/aws-sdk.min.js"></script>-->
    <script src="libs/AngularJS-Toaster/toaster.min.js"></script>
    <script src="css/design/js/bootstrap.min.js"></script>
    <!--<script src="css/design/js/socket.io.js"></script>-->


    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>-->

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.8.min.js"></script>
    <!-- <script rel="stylesheet" src="css/design/css/dist/fastselect.js"></script> -->
    <script src="css/design/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="css/design/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="https://js.appcenter.intuit.com/Content/IA/intuit.ipp.payments-0.0.3.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="css/design/js/inspinia.js"></script>
    <script src="css/design/js/plugins/pace/pace.min.js"></script>
    <!-- iCheck -->
    <script src="css/design/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Steps -->
    <script src="css/design/js/plugins/staps/jquery.steps.min.js"></script>
    <!-- Chosen -->
    <script src="css/design/js/plugins/chosen/chosen.jquery.js"></script>
    <!-- Jquery Validate -->
    <script src="css/design/js/plugins/validate/jquery.validate.min.js"></script>

    <script src="libs/angular-xeditable/dist/css/xeditable.css"></script>
    <script src="libs/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="css/design/js/plugins/summernote/summernote.min.js"></script>
    <script src="css/design/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="libs/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="libs/angular-dropbox-picker/app/dropbox-picker.min.js"></script>
    <script src="libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="libs/ng-file-upload/ng-file-upload.min.js"></script>


    <!-- ======================================scripts start End===================================-->


    <!-- ======================================filter=============================================== -->
    <script src="js/filter/customFilter.js"></script>
    <!-- =========================================================================================== -->

    <!-- ======================================local js scripts start===================================-->
    <script src="js/appRoutes.js"></script>
    <script src="js/services/userService.js"></script>
    <script src="js/services/ajaxServices.js"></script>
    <script src="js/services/commanService.js"></script>
    <script src="js/services/roleService.js"></script>
    <script src="js/services/dataService.js"></script>
    <script src="js/services/projectService.js"></script>
    <script src="js/services/allProperties.js"></script>
    <script src="js/controllers/dashboardCtrlr.js"></script>
    <script src="js/controllers/userController.js"></script>
    <script src="js/controllers/sidebarController.js"></script>
    <script src="js/directives/table/table.js"></script>
    <script src="js/directives/comman/upload.js"></script>
    <script src="js/directives/board/board.js"></script>
    <script src="js/controllers/newProjectController.js"></script>
    <script src="js/controllers/navbarController.js"></script>
    <script src="js/controllers/projectByIdCtrl.js"></script>
    <script src="js/controllers/jobBoardCtrl.js"></script>
    <script src="js/controllers/mailCtrl.js"></script>
    <script src="js/directives/mailView/viewMail.js"></script>
    <script src="js/controllers/linkSocialAccountCtrl.js"></script>
    <script src="js/controllers/stopAndStartServerCtrl.js"></script>
    <script src="js/controllers/topbarCtrl.js"></script>
    <script src="js/controllers/editUserCtrl.js"></script>
    <script src="js/controllers/issueCtrl.js"></script>
    <script src="js/controllers/serviceController.js"></script>
    <script src="js/controllers/paymentCtrl.js"></script>
    <script src="js/controllers/listCtrl.js"></script>
    <script src="js/controllers/settingCtrl.js"></script>
    <script src="js/controllers/cardController.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="rfasedile6p8hln"></script>
   
    <script src="libs/lodash/dist/lodash.js"></script>
    <script src="libs/angular-socket-io/socket.min.js"></script>
    <script src="libs/angular-google-picker/dist/google-picker.min.js"></script>
    
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>


</body>

</html>