<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/design/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/design/css/style.css" rel="stylesheet">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body class="gray-bg login-bg">

    <div class="container ">
        <div class="col-md-12">
            <h1 class=""> Payment Invoice</h1>
            <hr>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>projectName</strong></td>
                                    <td class="text-center"><strong>chargeId</strong></td>
                                    <td class="text-center"><strong>Amount</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{paymentInfo.projectName}}</td>
                                    <td class="text-center">{{paymentInfo.chargeId}}</td>
                                    <td class="text-center">{{paymentInfo.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <p class="m-t"> <small>© Copyright <script>document.write(new Date().getFullYear());</script>&nbsp;|&nbsp;PostCAP LLC&nbsp;</small> </p>
        </div>
    </div>




    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>