<html>

<head>
    <title>Licence Agreement</title>
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <script src="libs/jquery.min.js"></script>
    <link href="css/design/css/style.css" rel="stylesheet">

</head>

<body class="postcap_payment_Body">
    <div class="container postcap_payment_layout">
        <div class="page-header">
            <h1>Licence Agreement</h1>
        </div>
    </div>
    </div>
</body>

</html>