<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>PostCAP Project Platform</title>
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="css/design/img/favicon.png">
    <!--<link href="css/design/css/animate.css" rel="stylesheet">-->
    <link href="css/design/css/style.css" rel="stylesheet">
    <!--<script src="css/design/js/jquery-2.1.1.js"></script>-->
    <!--<script src="css/design/js/bootstrap.min.js"></script>-->
</head>

<body>
    <div class="gray-bg login-bg">

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>
                        <div>

                            <h1 class="logo-name"><img src="css/design/img/logo.png" / alt="logo"></h1>

                        </div>
                        <h3>Welcome to PostCAP</h3>
                        <p>Work with PostCAP and discover post-production solutions that enable your media to transcend borders, cross cultures, & traverse the globe.
                            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
                        </p>
                        <p>Login in. To see it in action.</p>
                        <form class="m-t" method="post" role="form" action="/login">
                            <div class="form-inline social-login">
                                <a href="/auth/facebook" class="btn btn-success btn-facebook "><i class="fa fa-facebook"> </i> Sign in with Facebook</a>

                                <a href="/auth/google" class="btn btn-success btn-google">
                                    <i class="fa fa-google-plus"> </i> Sign in with Google
                                </a>
                            </div>
                            <h2 class="sign-text-mail"><span>Or sign in with your email</span></h2>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Username" name="email" required="">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" name="password" required="">
                            </div>
                            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                            <a href="/forgot"><small>Forgot password?</small></a>
                            <!-- <p class="text-muted text-center"><small>Do not have an account?</small></p>
                            <a class="btn btn-sm btn-white btn-block" href="/signup">Create an account</a> -->
                        </form>
                        <p class="m-t"> <small>© Copyright <script>document.write(new Date().getFullYear());</script>&nbsp;|&nbsp;PostCAP LLC&nbsp;</small> </p>
            </div>

        </div>
</body>

</html>