<!--<!DOCTYPE html>-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
    <strong id="tokenize_data"></strong>
    <h2 id="uid">
        <%=appToken %>
    </h2>

    <form id="tokenize_form" action="" method="POST">
        <label>Number</label><input id="tokenize_cc-number" type="text" value="4444444444444448" /><br />
        <label>Expiry Month</label><input id="tokenize_cc-expmonth" type="text" value="10" /><br />
        <label>Expiry Year</label><input id="tokenize_cc-expyear" type="text" value="2016" /><br />
        <label>CVC</label><input id="tokenize_cc-cvc" type="text" value="123" /><br />
        <label>Street Address</label><input id="tokenize_cc-address-street" type="text" value="1 main st" /><br />
        <label>City</label><input id="tokenize_cc-address-city" type="text" value="Mountain" /><br />
        <label>Region</label><input id="tokenize_cc-address-region" type="text" value="CA" /><br />
        <label>Country</label><input id="tokenize_cc-address-country" type="text" value="US" /><br />
        <label>Postal Code</label><input id="tokenize_cc-address-postalcode" type="text" value="95005" /><br />
        <button type="submit">Tokenize</button>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://js.appcenter.intuit.com//Content/IA/intuit.ipp.payments.sandbox-0.0.3.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>


    <script>
        var tokendata = $("#uid").html();
        $("#tokenize_form").submit(function() {
            intuit.ipp.payments.tokenize(tokendata, {
                    card: {
                        number: $("#tokenize_cc-number").html(),
                        expMonth: $("#tokenize_cc-expmonth").html(),
                        expYear: $("#tokenize_cc-expyear").html(),
                        cvc: $("#tokenize_cc-cvc").html(),
                        address: {
                            streetAddress: $("#tokenize_cc-address-street").html(),
                            city: $("#tokenize_cc-address-city").html(),
                            region: $("#tokenize_cc-address-region").html(),
                            country: $("#tokenize_cc-address-country").html(),
                            postalCode: $("#tokenize_cc-address-postalcode").html()
                        }
                    }
                },
                function(token, response) {
                    console.log(token)
                    console.log(response)
                    if (token != null) {
                        $("#tokenize_data").html("Tokenized card value is " + token);
                    } else {
                        $("#tokenize_data").html("Error during tokenization " + response.code + "<br/>" + response.message + "<br/>" + response.detail + "<br/>" + response.moreinfo);
                    }
                });
            return false;
        });
    </script>
</body>

</html>