<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PostCAP | Register</title>
    <link rel="icon" type="image/x-icon" href="css/design/img/favicon.png">
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/design/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/design/css/custom.css" rel="stylesheet">
    <link href="css/design/css/animate.css" rel="stylesheet">
    <link href="css/design/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://js.appcenter.intuit.com/Content/IA/intuit.ipp.payments-0.0.3.js"></script>

</head>

<body class="gray-bg login-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"><img src="css/design/img/logo.png"/ alt="logo"></h1>

            </div>
				      <div class="col-md-12">
                <!-- CREDIT CARD FORM STARTS HERE -->
                <% if (message.length > 0) { %> 
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
				<div class="panel panel-default credit-card-box">
					<div class="panel-heading display-table" >
                           
						<div class="row display-tr" >
                                
                        <h3 class="panel-title display-td">Payment Details</h3>
                            
							<div class="display-td" >                            
							 <img class="img-responsive pull-right" src="css/design/img/creditcards.png">
							</div>
						</div>                    
				</div>
				<div class="panel-body">
				<form role="form" method="post" id="tokenize_form" action="/genrateToken" name="paymentForm">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
							<label for="tokenize_cc_number">CARD NUMBER</label>
								<div class="input-group">
								<input type="tel" class="form-control" name="tokenize_cc_number" id="tokenize_cc_number" placeholder="Valid Card Number" autocomplete="tokenize_cc_number" required autofocus />
								<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
								</div>
							</div>                            
						</div>
					</div>
				<div class="row">
                    
                <div class="col-xs-4 col-md-4 ">
                        <div class="form-group">
                        <label for="tokenize_cc_expmonth">ExpMonth</label>
                        <input type="tel" class="form-control" id="tokenize_cc_expmonth" name="tokenize_cc_expmonth" placeholder="MM "autocomplete="cc-exp" maxlength="2" size="2" required />
                        </div>
               </div>
                <div class="col-xs-4 col-md-4 ">
                        <div class="form-group">
                        <label for="tokenize_cc_expyear">ExpYear</label>
                        <input type="tel" id="tokenize_cc_expyear" class="form-control" name="tokenize_cc_expyear" placeholder="YYYY"autocomplete="cc-exp" maxlength="4" size="4" required />
                        </div>
                </div>
				<div class="col-xs-4 col-md-4 ">
					<div class="form-group">
					<label for="tokenize_cc_cvc">CVC CODE</label>
					<input type="password" class="form-control"  maxlength="3" size="3" name="tokenize_cc_cvc" id="tokenize_cc_cvc" placeholder="CVC" autocomplete="cc-csc" required />
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
					  <div class="form-group">
						<label for="tokenize_cc_name">CARD HOLDER NAME</label>
						<input type="text" id="tokenize_cc_name" class="form-control" name="tokenize_cc_name" placeholder="CARD HOLDER NAME" required />
					  </div>
				</div>                        
				</div>
				<div class="row">
					<div class="col-xs-12">
					  <div class="form-group">
						<label for="tokenize_cc_address_postalcode">POSTAL CODE</label>
						<input type="text" class="form-control" id="tokenize_cc_address_postalcode" name="tokenize_cc_address_postalcode" placeholder="POSTAL CODE" maxlength="6" size="6" required />
					  </div>
				</div>                        
				</div>
				<div class="row">
					<div class="col-xs-12">
					  <div class="form-group">
						<label for="tokenize_cc_address_country">COUNTRY</label>
						<input type="text" class="form-control" name="tokenize_cc_address_country" id="tokenize_cc_address_country"  maxlength="2" size="2" name="country" placeholder="COUNTRY"  required/>
					  </div>
				</div>                        
				</div>
				<div class="row">
					<div class="col-xs-12">
					  <div class="form-group">
						<label for="tokenize_cc_address_city">CITY</label>
						<input id="tokenize_cc_address_city" type="text" class="form-control" name="tokenize_cc_address_city" placeholder="CITY"  required/>
					  </div>
				</div>                        
				</div>
				<div class="row">
					<div class="col-xs-12">
					  <div class="form-group">
						<label for="tokenize_cc_address_region">REGION</label>
						<input type="text" id="tokenize_cc_address_region" maxlength="2" size="2" class="form-control" name="tokenize_cc_address_region" placeholder="REGION" required/>
					  </div>
				</div>                        
				</div>
				<div class="row">
					<div class="col-xs-12">
					  <div class="form-group">
						<label for="tokenize_cc_address_street">STREET ADDRESS</label>
						 <textarea class="form-control" rows="5" id="tokenize_cc_address_street" name="tokenize_cc_address_street" placeholder="STREET ADDRESS" required></textarea>
					  </div>
				</div>                        
				</div>
				<div class="row">
					<div class="col-xs-12">
                            <button id="make-payment" class="btn btn-success btn-lg btn-block" class="btn btn-primary" type="submit">Make Payment</button>

					</div>
                </div>
                <!-- hidden element -->
                 <div style="display:none;" class="form-group ">
                    <label for="Amount">Amount</label><input class="form-control" name="Amount" id="Amount"  value=<%=Amount%>> type="number" placeholder="Enter Amount Code" /><br />
                </div>
                <div style="display:none;" class="form-group ">
                    <label for="ProjectIds">Project id:</label><input class="form-control" name="ProjectIds" id="ProjectIds" value=<%=ProjectIds%>>  /><br />
                </div>

                
              
				</form>
				</div>
				</div>            
				<!-- CREDIT CARD FORM ENDS HERE -->
            
        </div>
            <p class="m-t"> <small>© Copyright <script>document.write(new Date().getFullYear());</script>&nbsp;|&nbsp;PostCAP LLC&nbsp;</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="libs/jquery.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script> -->
    <script src="css/design/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="css/design/js/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

            /****dUMMY CARD DETAL*******/

            // var charge = {
            //     "amount": "1055",
            //     "card": {
            //         "expYear": "2020",
            //         "expMonth": "02",
            //         "address": {
            //             "region": "CA",
            //             "postalCode": "94086",
            //             "streetAddress": "1130 Kifer Rd",
            //             "country": "US",
            //             "city": "Sunnyvale"
            //         },
            //         "name": "emulate=0",
            //         "cvc": "123",
            //         "number": "4111111111111111"
            //     },
            //     "currency": "USD"
            // }


        // $(function() {
        //     $("form[name='paymentForm']").validate({
        //         rules: {
        //             tokenize_cc_number: "required",
        //             tokenize_cc_expmonth: "required",
        //             tokenize_cc_expyear: "required",
        //             tokenize_cc_address_postalcode: "required",
        //             tokenize_cc_address_street: "required",
        //             tokenize_cc_address_region: "required",
        //             tokenize_cc_address_country: "required",
        //             tokenize_cc_address_city: "required",
        //             tokenize_cc_name: "required",
        //             tokenize_cc_cvc: {
        //                 required: true,
        //                 minlength: 3
        //             }
        //         },
        //         messages: {
        //             tokenize_cc_number: "Please enter your card number",
        //             tokenize_cc_expmonth: "Please enter your expiry month",
        //             tokenize_cc_expyear: "Please enter your expiry Year",
        //             tokenize_cc_name: "Please enter your name",
        //             tokenize_cc_address_postalcode: "Please enter your postal code",
        //             tokenize_cc_address_street: "Please enter your street address",
        //             tokenize_cc_address_region: "Please enter your Region address",
        //             tokenize_cc_address_country: "Please enter your Country",
        //             tokenize_cc_address_city: "Please enter your City",
        //             tokenize_cc_cvc: {
        //                 required: "Please provide a cvc number",
        //                 minlength: "Your cvc must be at least 3 characters long"
        //             }
        //         },
        //         submitHandler: function(form) {
        //             console.log(form)
        //             form.submit();
        //         }
        //     });
        // });





    </script>
       

</body>

</html>
