<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
        <title>PostCAP Project Platform</title>
    <script src="libs/angular-jwt/dist/angular-jwt.min.js"> </script>  
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/controllers/dashboardCtrlr.js"></script>
    <script src="js/controllers/userController.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="css/design/js/bootstrap.min.js"></script>
    
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/design/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/design/css/style.css" rel="stylesheet">



</head>
<body ng-app="app">
    <div ui-view>
    </div>
</body>
</html>