<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
     <title>PostCAp Project Platform</title>
     <link rel="icon" type="image/x-icon" href="css/design/img/favicon.png">
    <link href="css/design/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/design/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/design/css/animate.css" rel="stylesheet">
    <link href="css/design/css/style.css" rel="stylesheet">
       <script src="css/design/js/jquery-2.1.1.js"></script>
    <script src="css/design/js/bootstrap.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class="gray-bg login-bg">


     <div  class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <div>

                <h1 class="logo-name"><img src="css/design/img/logo.png"/ alt="logo"></h1>

            </div>
            <h3>Register to PostCAP</h3>
            <p>Create account to see it in action.</p>
				<div class="form-inline social-login">
			 <a href="/auth/facebook" class="btn btn-success btn-facebook ">
                            <i class="fa fa-facebook"> </i> Sign up with Facebook
                        </a>
			<a href="/auth/google" class="btn btn-success btn-google">
                            <i class="fa fa-google-plus"> </i> Sign Up with Google
                        </a>			
						</div>
				<h2 class="sign-text-mail"><span>Or sign up with your email</span></h2>		
            <form class="m-t" role="form" action="/signup" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name*" name="firstname" required="">
                </div>
				<div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name*" name="lastname" required="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email*" name="email" required="">
                </div>  
				<div class="form-group">
                    <input type="text" class="form-control" name="organization" placeholder="Organization">
                </div>
				<div class="form-group">
                    <input type="text" class="form-control" name="phone" placeholder="Phone#">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="">
                </div>
                <div class="form-group">
                        <div class=" "><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/login">Login</a>
            </form>
            <p class="m-t"> <small>© Copyright <script>document.write(new Date().getFullYear());</script>&nbsp;|&nbsp;PostCAP LLC&nbsp;</small> </p>
        </div>
    </div>




</div>
</body>
</html>