<div id="wrapper" ng-init="initGetTrashMail()">
    <div id="page-wrapper-new" class="gray-bg">
        <!--Top header Navigation area  -->
        <!--<div class="row border-bottom">
          
        </div>-->
        <!--Top header Navigation area ends  -->
        <toaster-container></toaster-container>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Mailbox</h2>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <!-- main content area -->
        <!--{{trashData}}-->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <!--{{status}}-->
                                <div class="row">
                                    <div col-md-4>
                                        <button class="btn btn-block btn-primary compose-mail" ng-click="stopServer()">
                                    Stop Server</button>
                                    </div>
                                    <div col-md-4>
                                        <button class="btn btn-block btn-primary compose-mail" ng-click="startServer()">Start Server</button>
                                    </div>
                                </div>
                                <div class="space-25"></div>
                                <i class="fa fa-spinner fa-spin pull-right" ng-if="loader" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>